<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="duplex-5page" xml:lang="ro">

  <info>
    <link type="guide" xref="print-booklet#doubleSided"/>
    <title type="sort">05-Page Booklet</title>
    <desc>Tipăriți o broșură de 5 pagini.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Atribuire - Distribuire în condiţii identice 3.0</p>
    </license>

  </info>

<title>5-page booklet</title>
<steps>
 <item>
  <p>Clic <guiseq><gui>Fișier</gui><gui>Tipărește</gui></guiseq>.</p>
 </item>


 <item>
  <p>Alegeți tabul <gui>General</gui>.</p>
  <p>Sub <em>Interval</em>, selectați <gui>Pagini</gui> și tastați: 1</p>

 </item>
 <item>
  <p>Alegeți tabul <gui>Configurare pagină</gui>.</p>
  <p>Sub <em>Aspect</em>, în opțiunea <gui>Față verso</gui>, selectați <gui>Margine îngustă (Răsturnată)</gui>.</p>
 <p>În opțiunea <gui>Pagini per față</gui>, selectați <gui>2</gui>.</p>
  <p>În meniul <gui>Ordonare pagini</gui>, selectați <gui>De la dreapta la stânga</gui>.</p>
  <p>Clic pe <gui>Tipărește</gui>.</p>
 </item>


 <item>
  <p>După ce pagina a fost tipărită, luați hârtia și puneți-o înapoi în imprimantă, având grijă să fie orientată corect (pagina 2 va fi tipărită pe partea cealaltă).</p>
 </item>
 <item>
  <p>Clic din nou pe <guiseq><gui>Fișier</gui><gui>Tipărește</gui></guiseq>.</p>
  <p>Alegeți tabul General.</p>
  <p>Sub <em>Interval</em>, selectați <gui>Pagini</gui> și tastați: 2</p>
 </item>
 <item>
  <p>Alegeți tabul <gui>Configurare pagină</gui>.</p>
  <p>În meniul <gui>Ordonarea paginilor</gui>, selectați <gui>De la stânga la dreapta</gui>.</p>
<p>Clic pe <gui>Tipărește</gui>.</p>
 </item>

 <item>
  <p>Pentru a tipări pagina 3, clic din nou pe <guiseq><gui>Fișier</gui><gui>Tipărire</gui></guiseq>.</p>
  <p>
    In the <gui>General</gui> tab enter the page number in the <gui>Pages</gui> selection.
  </p>
 </item>
 <item>
 <p>În tabul <gui>Configurare pagină</gui>, setați <gui>Ordonare pagini</gui> la <gui>De la dreapta la stânga</gui>.</p>
<p>Clic pe <gui>Tipărește</gui>.</p>
 </item>
 <item>
 <p>
    Once page 3 has printed, place the paper back in the printer taking care to orient it correctly (pages 4 and 9 will be printed on the other side).
 </p>
 </item>
 <item>
  <p>Clic <guiseq><gui>Fișier</gui><gui>Tipărește</gui></guiseq>.</p>
  <p>
In the <gui>General</gui> tab enter pages 4, 9 in the <gui>Pages</gui> selection.
  </p>
  <p>În tabul <gui>Configurare pagină</gui> setați <gui>Ordonare pagini</gui> la <gui>De la stânga la dreaptat</gui>.</p>
 <p>Clic pe <gui>Tipărește</gui>.</p>
 </item>
</steps>
<note>
   <p>Este mai ușor să tipăriți o broșura de 8 pagini. Poate doriți să adăugați 3 pagini goale în documentul PDF pentru a-l face de 8 pagini. Pentru a face acest lucru, puteți să:</p>
<steps>
 <item>
  <p>
    Create a blank PDF document 3-pages long using <app>LibreOffice Writer</app>.
  </p>
 </item>
 <item>
  <p>Îmbină PDF-ul gol cu documentul PDF utilizând <app>PDF-Shuffler</app> pentru introducerea de pagini goale la sfârșit.</p>

 </item>
 <item>
  <p>Urmați pașii pentru tipărirea <link xref="duplex-8page">broșurii de 8 pagini</link>.</p>
 </item>
</steps>
</note>
</page>
