<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="duplex-10page" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="print-booklet#doubleSided"/>

    <desc>Imprimir um livreto de 10 páginas.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartilhada Igual 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hugo Dória</mal:name>
      <mal:email>hugodoria@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Pedro de Medeiros</mal:name>
      <mal:email>pedrovmm+l10n@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel S. Koda</mal:name>
      <mal:email>danielskoda@gmail.com</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Felipe Braga</mal:name>
      <mal:email>fbobraga@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Isaac Ferreira Filho</mal:name>
      <mal:email>isaacmob@riseup.net</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>Livreto de 10 páginas</title>
<steps>
 <item>
  <p>Clique no menu de <gui>Opções do arquivo</gui> no canto superior direito da janela e selecione <gui>Imprimir</gui>.</p>
 </item>

 <item>
  <p>Escolha a aba <gui>Geral</gui>.</p>
 <p>Em <em>Intervalo</em>, selecione <gui>Páginas</gui>.</p>
  <p>Digite os números de páginas nessa ordem: 10, 3, 4, 9, 8, 5, 6, 7, 2</p>

 </item>
 <item>
  <p>Escolha a aba <gui>Configurar página</gui>.</p>
  <p>Em <em>Layout</em>, na opção <gui>Frente e verso</gui>, selecione <gui>Lado menor (virar)</gui>.</p>
  <p>Na opção <gui>Páginas por lado</gui>, selecione <gui>2</gui>.</p>
  <p>Na opção <gui>Ordem das páginas</gui>, selecione <gui>Esquerda para direita</gui>.</p>
  <p>Clique em <gui>Imprimir</gui>.</p>
 </item>



 <item>
 <p>Quando terminar a impressão, pegue o papel com a página 2 e coloque-o de volta, virado, na impressora, tomando o cuidado de orientá-lo corretamente (a página 1 deverá ser impressa atrás da 2).</p>
 </item>
 <item>
  <p>Clique no menu de <gui>Opções do arquivo</gui> no canto superior direito da janela e selecione <gui>Imprimir</gui>.</p>
 </item>
 <item>
  <p>Escolha a aba <gui>Geral</gui>.</p>
  <p>Em <em>Intervalo</em>, selecione <gui>Páginas</gui> e entre com: 1</p>

 </item>
<item>
  <p>Escolha a aba <gui>Configurar página</gui>.</p>
  <p>Na opção <gui>Ordem das páginas</gui>, selecione <gui>Direita para esquerda</gui>.</p>
  <p>Clique em <gui>Imprimir</gui>.</p>
 </item>

</steps>
<note>
   <p>É bem mais fácil imprimir um livreto de 12 páginas. Você pode adicionar 2 páginas em branco no final de seu documento PDF para fazê-lo ficar com 12 páginas. Para fazer isso, você deve:</p>
<steps>
 <item>
  <p>Criar um documento PDF com 2 páginas em branco usando o <app>LibreOffice Writer</app>.</p>
 </item>
 <item>
  <p>Juntar seu documento PDF com o documento em branco gerado no passo anterior no <app>PDF-Shuffler</app>, colocando as páginas em branco no final.</p>

 </item>
 <item>
  <p>Seguir as instruções para imprimir um <link xref="duplex-12page">livreto de 12 páginas</link>.</p>
 </item>
</steps>
</note>
</page>
