<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="singlesided-17-20page" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="print-booklet#singleSided"/>

    <desc>Imprimir um livreto de 17, 18, 19 ou 20 páginas.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartilhada Igual 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hugo Dória</mal:name>
      <mal:email>hugodoria@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Pedro de Medeiros</mal:name>
      <mal:email>pedrovmm+l10n@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel S. Koda</mal:name>
      <mal:email>danielskoda@gmail.com</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Felipe Braga</mal:name>
      <mal:email>fbobraga@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Isaac Ferreira Filho</mal:name>
      <mal:email>isaacmob@riseup.net</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>Livreto de 17 a 20 páginas</title>

 <p>Se você tem um documento PDF de 17, 18 ou 19 páginas, você deve adicionar uma quantidade de páginas em branco adequada no final dele para fazê-lo ficar com 20 páginas. Para isso, você deve:</p>
 <steps>
 <item>
  <p>Criar um documento PDF em branco usando o <app>LibreOffice Writer</app>.</p>
 </item>
 <item>
  <p>Juntar seu documento PDF com o documento em branco gerado no passo anterior no <app>PDF-Shuffler</app>, colocando as páginas em branco no final.</p>
 </item>
</steps>

 <p>Para imprimir:</p>
  <steps>
 <item>
  <p>Clique no menu de <gui>Opções do arquivo</gui> no canto superior direito da janela e selecione <gui>Imprimir</gui>.</p>
 </item>
 <item>
  <p>Escolha a aba <gui>Geral</gui>.</p>
  <p>Em <em>Intervalo</em>, selecione <gui>Páginas</gui>.</p>
  <tree>
   <item>Digite os números de páginas nessa ordem: <item>20, 1, 2, 19, 18, 3, 4, 17, 16, 5, 6, 15, 14, 7, 8, 13, 12, 9, 10, 11</item></item>
  </tree>
 </item>
 <item>
  <p>Escolha a aba <gui>Configurar página</gui>.</p>
  <p>Em <em>Layout</em>, na opção <gui>Frente e verso</gui>, selecione <gui>Um lado</gui>.</p>
  <p>Na opção <gui>Páginas por lado</gui>, selecione <gui>2</gui>.</p>
  <p>Na opção <gui>Ordem das páginas</gui>, selecione <gui>Esquerda para direita</gui>.</p>
  <p>Na opção <gui>Apenas imprimir</gui>, selecione <gui>Páginas ímpares</gui>.</p>
 </item>
 <item>
  <p>Clique em <gui>Imprimir</gui>.</p>
 </item>
   <item>
    <p>Quando todas as páginas forem impressas, vire as páginas e coloque-os de volta na impressora.</p>
   </item>
   <item>
    <p>Clique no menu de <gui>Opções do arquivo</gui> no canto superior direito da janela e selecione <gui>Imprimir</gui>.</p>
   </item>
   <item>
    <p>Escolha a aba <gui>Configurar página</gui>.</p>
     <p>Na opção <gui>Apenas imprimir</gui>, selecione <gui>Páginas pares</gui>.</p>
   </item>
   <item>
    <p>Clique em <gui>Imprimir</gui>.</p>
   </item>
  </steps>
</page>
