<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="duplex-4page" xml:lang="fr">

  <info>
    <link type="guide" xref="print-booklet#doubleSided"/>
    <title type="sort">Livret de 04 pages</title>
    <desc>Imprimer un livret de 4 pages.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jonathan Ernst</mal:name>
      <mal:email>jonathan@ernstfamily.ch</mal:email>
      <mal:years>2006, 2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2006-2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mickael Albertus</mal:name>
      <mal:email>mickael.albertus@gmail.com</mal:email>
      <mal:years>2012-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Michael Scherer</mal:name>
      <mal:email>misc@zarb.org</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonor Palazzo</mal:name>
      <mal:email>leonor.palazzo@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Guillaume Bernard</mal:name>
      <mal:email>associations@guillaume-bernard.fr</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>Livret de 4 pages</title>
<steps>
 <item>
  <p>Cliquez sur <guiseq><gui>Fichier</gui><gui>Imprimer</gui></guiseq>.</p>
 </item>


 <item>
  <p>Sélectionnez l’onglet <gui>Général</gui>.</p>
  <p>Sous <em>Plage</em>, sélectionnez <gui>Pages</gui>.</p>
  <p>Saisissez les numéros des pages dans cet ordre : 4, 1, 2, 3</p>
 </item>
 <item>
  <p>Sélectionnez l’onglet <gui>Mise en page</gui>.</p>
  <p>Sous <em>Mise en page</em>, dans le menu <gui>Recto-verso</gui>, choisissez <gui>Bord court (retourné)</gui>.</p>
  <p>Pour l’option <gui>Pages par côté</gui>, choisissez <gui>2</gui>.</p>
  <p>Dans le menu <gui>Ordre des pages</gui>, sélectionnez <gui>Gauche à droite</gui>.</p>
 </item>
 <item>
  <p>Cliquez sur <gui>Imprimer</gui>.</p>
 </item>
</steps>
</page>
