<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="duplex-9page" xml:lang="fr">

  <info>
    <link type="guide" xref="print-booklet#doubleSided"/>
    <title type="sort">Livret de 09 pages</title>
    <desc>Imprimer un livret de 9 pages.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jonathan Ernst</mal:name>
      <mal:email>jonathan@ernstfamily.ch</mal:email>
      <mal:years>2006, 2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2006-2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mickael Albertus</mal:name>
      <mal:email>mickael.albertus@gmail.com</mal:email>
      <mal:years>2012-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Michael Scherer</mal:name>
      <mal:email>misc@zarb.org</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonor Palazzo</mal:name>
      <mal:email>leonor.palazzo@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Guillaume Bernard</mal:name>
      <mal:email>associations@guillaume-bernard.fr</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>Livret de 9 pages</title>
<steps>
 <item>
  <p>Cliquez sur <guiseq><gui>Fichier</gui><gui>Imprimer</gui></guiseq>.</p>
 </item>


 <item>
  <p>Sélectionnez l’onglet <gui>Général</gui>.</p>
  <p>Sous <em>Plage</em>, choisissez <gui>Pages</gui> et saisissez : 1.</p>

 </item>
 <item>
  <p>Sélectionnez l’onglet <gui>Mise en page</gui>.</p>
 <p>Sous <em>Mise en page</em>, dans le menu <gui>Recto-verso</gui>, choisissez <gui>Bord court (retourné)</gui>.</p>
  <p>Pour l’option <gui>Pages par côté</gui>, choisissez <gui>2</gui>.</p>
  <p>Dans le menu <gui>Ordre des pages</gui>, choisissez <gui>Droite à gauche</gui>.</p>
  <p>Cliquez sur <gui>Imprimer</gui>.</p>
 </item>


 <item>
  <p>Une fois que la page est imprimée, prenez le papier et replacez-le dans l’imprimante, en prenant soin de l’orienter correctement (la page 2 sera imprimée de l’autre côté).</p>
 </item>
 <item>
  <p>Cliquez à nouveau sur <guiseq><gui>Fichier</gui><gui>Imprimer</gui></guiseq> et choisissez l’onglet <gui>Général</gui>.</p>
  <p>Sous <em>Plage</em>, choisissez <gui>Pages</gui> et saisissez : 2.</p>
 </item>
 <item>
  <p>Choisissez l’onglet <gui>Mise en page</gui> et dans le menu <gui>Ordre des pages</gui>, choisissez <gui>Gauche à droite</gui>.</p>
  <p>Cliquez sur <gui>Imprimer</gui>.</p>
 </item>

 <item>
  <p>Cliquez à nouveau sur <guiseq><gui>Fichier</gui><gui>Imprimer</gui></guiseq>.</p>
  <p>Dans l’onglet <gui>Général</gui>, saisissez 3 dans la sélection <gui>Pages</gui>.</p>
 </item>

 <item>
 <p>Dans l’onglet <gui>Mise en page</gui>, paramétrez l’<gui>Ordre des pages</gui> à <gui>Droite à gauche</gui>.</p>
 <p>Cliquez sur <gui>Imprimer</gui>.</p>
 </item>
 <item>
 <p>Une fois que la page 3 est imprimée, replacez le papier dans l’imprimante, en prenant soin de l’orienter correctement (les pages 4 et 9 seront imprimées de l’autre côté).</p>
 </item>
 <item>
  <p>Cliquez sur <guiseq><gui>Fichier</gui><gui>Imprimer</gui></guiseq>.</p>
 <p>Dans l’onglet <gui>Général</gui>, saisissez les pages 4, 9 dans la sélection <gui>Pages</gui>.</p>
<p>Dans l’onglet <gui>Mise en page</gui>, paramétrez l’<gui>Ordre des pages</gui> à <gui>Gauche à droite</gui>.</p>
<p>Cliquez sur <gui>Imprimer</gui>.</p>
 </item>

 <item>
  <p>Cliquez sur <guiseq><gui>Fichier</gui><gui>Imprimer</gui></guiseq>.</p>
<p>Saisissez les pages 8, 5, 6, 7 dans le menu de sélection <gui>Pages</gui> et paramétrez l’<gui>Ordre des pages</gui> à <gui>Gauche à droite</gui>.</p>
<p>Cliquez sur <gui>Imprimer</gui>.</p>
 </item>
</steps>
<note>
   <p>Il est plus facile d’imprimer un livret de 12 pages. Vous pouvez préférer ajouter 3 pages blanches à votre document PDF pour le compléter à 12 pages. Pour faire cela, vous pouvez :</p>
<steps>
 <item>
  <p>Créer un document PDF contenant 3 pages blanches en utilisant <app>LibreOffice Writer</app>.</p>
 </item>
 <item>
  <p>Fusionner le PDF vide avec votre document PDF en utilisant l’application <app>PDF-Shuffler</app> en plaçant les pages blanches à la fin.</p>

 </item>
 <item>
  <p>Suivre les instructions pour l’impression d’un <link xref="duplex-12page">livret de 12 pages</link>.</p>
 </item>
</steps>
</note>

</page>
