<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="annotations-save" xml:lang="sv">
<info>
  <link type="guide" xref="index#annotations"/>
 <desc>Hur du sparar dina kommentarer.</desc>

    <revision pkgversion="3.2" date="2011-09-05" status="final"/>
    <revision pkgversion="3.14" date="2015-01-07" status="review"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Shobha Tyagi</name>
      <email its:translate="no">tyagishobha@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons DelaLika 3.0</p>
    </license>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2006, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2015, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>
<title>Spara en kopia av en kommenterad PDF</title>
 <p>För att spara en kopia av din kommenterade PDF för framtida visning via <app>Dokumentvisare</app> eller annan PDF-visare <em>som har stöd för kommentarer</em>:</p>
  <steps>
   <item>
     <p>Klicka på <guiseq><gui>Filalternativ</gui><gui>Spara som…</gui></guiseq></p>
   </item>
   <item>
     <p>Välj ett namn och en mapp att spara filen i, klicka sedan <gui>Spara</gui>. PDF:en kommer att sparas i mappen du valde.</p>
    </item>
   </steps>
   <p>Kommentarer läggs till enligt PDF-specifikationen. Därför bör de flesta PDF-läsare kunna läsa dem. Adobe Reader fungerar.</p>

</page>
