<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="presentations" xml:lang="sv">

  <info>
    <link type="guide" xref="index#pres"/>
    <desc>Hur du spelar upp presentationer.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email>anna.cs.au@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons DelaLika 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2006, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2015, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>Presentationer</title>
<section id="start-presentation">
<title>Starta en presentation</title>
<p>För att starta en presentation:</p>
<steps>
 <item>
  <p><link xref="opening">Öppna en fil</link></p>
 </item>
 <item>
   <p>Klicka på knappen <gui>Visningsalternativ</gui> i övre högra hörnet och välj <gui>Presentation</gui> (eller tryck på <key>F5</key>).</p>
  <p>Presentationen kommer att visas i helskärmsläge.</p>
 </item>
</steps>
</section>
<section id="present">
 <title>Flytta genom en presentation</title>
 <p>Använd <key>mellanslag</key>, <key>→</key>, <key>↓</key> eller vänstermusklick för att gå till nästa bild.</p>
 <p>Använd <key>←</key>, <key>↑</key> eller högermusklick för att gå till föregående bild.</p>
 <note style="tip">
  <p>Du kan också använda rullningshjulet för att gå fram och tillbaka genom presentationen.</p>
 </note>
 <p>Använd <key>Esc</key> för att avsluta presentationen.</p>
</section>

<section id="file-formats">
<title>Filformat för presentationer som stöds</title>
<p>Följande filformat kan användas för presentationer:</p>
<list>
 <item><p>Serietidningsarkiv (.cbr och .cbz)</p></item>
 <item><p>Device Independent-filformat (.dvi)</p></item>
 <item><p>DjVu (.djvu, .djv)</p></item>
 <item><p>Open Document Presentation (.odp)</p></item>
 <item><p>Portable Document Format (.pdf)</p></item>
 <item><p>Postscript (.ps)</p></item>
</list>
</section>
</page>
