<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="print-booklet" xml:lang="sv">

  <info>
    <link type="guide" xref="index#printing"/>

    <desc>Hur man skriver ut ett häfte.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons DelaLika 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2006, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2015, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>Skriva ut ett häfte</title>

<p>Om du skriver ut ett häfte (som kanske ska bindas eller häftas i mitten av varje sida), välj typen av skrivare du ska använda för att skriva ut från listan nedan. Välj sedan antalet sidor som ditt tryckta häfta ska ha.</p>

<section id="singleSided" style="2column">
    <title>Skrivaren tillåter enkelsidig utskrift</title>
</section>

<section id="doubleSided" style="2column">
    <title>Skrivaren tillåter dubbelsidig utskrift</title>
</section>



</page>
