<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="reload" xml:lang="sv">

  <info>
    <link type="guide" xref="index#faq"/>

    <desc>Ditt dokument kommer automatiskt att läsas in på nytt om ett annat program ändrar det medan du visar det.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons DelaLika 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2006, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2015, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>Varför läses dokumentet in hela tiden?</title>

<p>Om <app>Dokumentvisare</app> detekterar att dokumentet du har öppnat har ändrats (kanske för att ett annat program har modifierat det), kommer det automatiskt att läsa in dokumentet på nytt och visa den senaste versionen för dig.</p>

<p>Om dokumentet har tagits bort medan du fortfarande visare det kommer det att fortfarande vara öppet.</p>

</page>
