<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shortcuts" xml:lang="sv">

  <info>
    <link type="guide" xref="index#advanced"/>
    <desc>Se lista över alla genvägar.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.24" version="0.2" date="2017-08-10" status="final"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
       <name>Tiffany Antopolski</name>
       <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
       <name>Taufan Lubis</name>
       <email>taufanlinux@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Ronaldi Santosa</name>
       <email>ronald.santosa@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Ibnu Amansyah</name>
       <email>javalander9@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Andre Klapper</name>
       <email>ak-47@gmx.net</email>
    </credit>

    <license>
      <p>Creative Commons DelaLika 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2006, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2015, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>


<title>Tangentbordsgenvägar</title>

<section id="default-shortcuts"><title>Standardgenvägar</title>
<section id="open-close-save-print">
  <title>Öppna, stänga, spara och skriv ut</title>
  <table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Öppna ett dokument.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>O</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Spara en kopia av aktuellt dokument.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>N</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Spara en kopia av aktuellt dokument under ett nytt filnamn.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>S</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Skriv ut aktuellt dokument.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>P</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Stäng aktuellt dokumentfönster.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>W</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Läsa in dokumentet på nytt (stänger och återöppnar i själva verket dokumentet).</p></td>
        <td><p><keyseq><key>Ctrl</key><key>R</key></keyseq></p></td>
    </tr>
  </table>
</section>

<section id="move-around">
    <title>Flytta runt i ett dokument</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Flytta en sida upp/ner.</p></td>
        <td><p>Piltangenter</p></td>
    </tr>
    <tr>
        <td><p>Flytta upp/ned längs en sidan flera rader i taget.</p></td>
        <td><p><key>Page Up</key> / <key>Page Down</key></p></td>
    </tr>
    <tr>
        <td><p>Gå till nästa/föregående sida.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Page Up</key></keyseq> / <keyseq><key>Ctrl</key><key>Page Down</key></keyseq></p></td>
    </tr>
<tr>
        <td><p>Gå till sidnummer.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>L</key></keyseq> följt av sidnumret och <key>Retur</key></p></td>
</tr>
    <tr>
        <td><p>Gå till början av en sida (början av dokumentet om <guiseq><gui>Visa</gui> <gui>Sammanhängande</gui></guiseq> är markerat).</p></td>
         <td><p><key>Home</key></p></td>
    </tr>
    <tr>
        <td><p>Gå till slutet av en sida (slutet av dokumentet om <guiseq><gui>Visa</gui><gui>Sammanhängande</gui></guiseq> är markerat).</p></td>
        <td><p><key>End</key></p></td>
    </tr>
    <tr>
    	<td><p>Gå till början av dokumentet.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Home</key></keyseq></p></td>
    </tr>
    <tr>
    	<td><p>Gå till slutet av dokumentet.</p></td>
         <td><p><keyseq><key>Ctrl</key><key>End</key></keyseq></p></td>
    </tr>
    <tr>
    	<td><p>Visa sidopanelen med innehållsförteckning.</p></td>
         <td><p><key>F9</key></p></td>
    </tr></table>
</section>

<section id="copy">
    <title>Markera och kopiera text</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Kopiera markerad text.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>C</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Markera all text i ett dokument.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
</table>
</section>

<section id="find">
    <title>Sök efter text</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Visa verktygsfältet som låter dig söka efter ord i dokumentet. Sökrutan markeras automatiskt när du trycker på detta och sökningen börjar så snart du börjat skriva in text.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>F</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Gå till nästa sökresultat.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>G</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Gå till föregående sökresultat.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Skift</key><key>G</key></keyseq></p></td>
    </tr>
</table>
</section>

<section id="rotate-zoom">
    <title>Rotation och zoomning</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Rotera sidorna 90 grader moturs.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Vänsterpil</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Rotera sidorna 90 grader medurs.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Högerpil</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Zooma in.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>+</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Zooma ut.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>-</key></keyseq></p></td>
    </tr>
</table>
</section>
</section>

</page>
