<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="synctex-compile" xml:lang="sv">

  <info>
    <link type="guide" xref="index#synctex" group="third"/>
    <desc>Hur du kompilerar ditt TeX-dokument med SyncTeX</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons DelaLika 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2006, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2015, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>Kompilera TeX med SyncTeX</title>
<p>Att lägga till raden <em>\synctex=1</em> i inledningen i din TeX-fil kommer att utlösa synkronisering med SyncTeX.</p>
<code>
\documentclass{article}
\synctex=1
\usepackage{fullpage}
\begin{document}
…
\end{document}
</code>
<p>Alternativt kan du köra pdflatex-kommandot med flaggan <em>-synctex=1</em>:</p>
<screen>pdflatex -synctex=1 dinFil.tex</screen>
</page>
