<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="annotations-save" xml:lang="de">
<info>
  <link type="guide" xref="index#annotations"/>
 <desc>So speichern Sie Ihre Anmerkungen.</desc>

    <revision pkgversion="3.2" date="2011-09-05" status="final"/>
    <revision pkgversion="3.14" date="2015-01-07" status="review"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Shobha Tyagi</name>
      <email its:translate="no">tyagishobha@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2009, 2011-2013, 2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2011, 2014-2015, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>
<title>Eine Kopie eines PDF mit Anmerkungen speichern</title>
 <p>So speichern Sie eine Kopie Ihres PDF-Dokuments mit Anmerkungen für eine zukünftige Betrachtung im <app>Dokumentenbetrachter</app> oder einem anderen PDF-Anzeigeprogramm, <em>der Anmerkungen unterstützt</em>:</p>
  <steps>
   <item>
     <p>Klicken Sie auf <guiseq><gui>Dateioptionen</gui><gui>Speichern unter …</gui></guiseq></p>
   </item>
   <item>
     <p>Wählen Sie einen Namen und Ordner zum Speichern der Datei und klicken Sie <gui>Speichern</gui>. Das PDF wird im gewählten Ordner gespeichert.</p>
    </item>
   </steps>
   <p>Anmerkungen werden entsprechend der PDF-Spezifikation hinzugefügt. Demnach sollten die meisten PDF-Anzeigeprogramme sie lesen können. Es ist bekannt, dass Adobe Reader funktioniert.</p>

</page>
