<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="duplex-16page" xml:lang="de">

  <info>
    <link type="guide" xref="print-booklet#doubleSided"/>

    <desc>Eine 16-seitige Broschüre drucken.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2009, 2011-2013, 2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2011, 2014-2015, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

<title>16-seitige Broschüre</title>
<steps>
 <item>
  <p>Klicken Sie auf <guiseq><gui>Datei</gui><gui>Drucken</gui></guiseq>.</p>
 </item>
 <item>
  <p>Wählen Sie den Reiter <gui>Allgemein</gui>.</p>
  <p>Wählen Sie unter <em>Bereich</em> die <gui>Seiten</gui>.</p>
  <tree>
   <item>Geben Sie die Seitenzahl in dieser Reihenfolge ein: <item>16, 1, 2, 15, 14, 3, 4, 13, 12, 5, 6, 11, 10, 7, 8, 9</item></item>
  </tree>
 </item>
 <item>
  <p>Wählen Sie den Reiter <gui>Seite einrichten</gui>.</p>
  <p>Wählen Sie für <gui>Beidseitig</gui> unter <em>Layout</em> die Option <gui>Kurzer Rand (Umdrehen)</gui>.</p>
  <p>Wählen Sie <gui>2</gui> im Menü <gui>Seiten pro Blatt</gui>.</p>
  <p>Wählen Sie <gui>Links nach rechts</gui> im Menü <gui>Reihenfolge</gui>.</p>
 </item>
 <item>
  <p>Klicken Sie auf <gui>Drucken</gui>.</p>
 </item>
</steps>
</page>
