<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="password" xml:lang="de">

  <info>
    <link type="guide" xref="index#reading"/>
    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email its:translate="no">philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal-unported.xml"/>

    <desc>Umgang mit passwortgeschützten PDF-Dateien.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2009, 2011-2013, 2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2011, 2014-2015, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Passwortgeschützte Dokumente</title>

  <p>Wenn Sie ein mit Passwort geschütztes PDF-Dokument öffnen, so erscheint ein Fenster mit der Aufforderung, das Passwort des Dokuments einzugeben. Geben Sie es ein und klicken Sie dann auf <gui>Dokument entsperren</gui>.</p>

<!-- TODO: not sure both types are relevant
  <p>There are two types of passwords:</p>

  <list>
    <item>
      <p>The <em>user password</em> is needed to view the document.</p>
    </item>
    <item>
      <p>The <em>master password</em> is required to print the document as well
      as view it.</p>
    </item>
  </list>

  <note>
    <p>These passwords are set by the person who created the document.</p>
  </note>
-->

  <note>
    <p>Diese Passwörter werden von der Person festgelegt, die das Dokument erstellt oder bearbeitet.</p>
  </note>

</page>
