<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="presentations" xml:lang="de">

  <info>
    <link type="guide" xref="index#pres"/>
    <desc>So starten Sie eine Präsentation.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email>anna.cs.au@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2009, 2011-2013, 2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2011, 2014-2015, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

<title>Präsentationen</title>
<section id="start-presentation">
<title>Eine Präsentation starten</title>
<p>So starten Sie eine Präsentation:</p>
<steps>
 <item>
  <p><link xref="opening">Öffnen Sie eine Datei</link></p>
 </item>
 <item>
   <p>Klicken Sie auf den Knopf <gui>Ansichtsoptionen</gui> in der rechten oberen Ecke und wählen Sie <gui>Präsentation</gui> (oder drücken Sie <key>F5</key>).</p>
  <p>Die Präsentation wird im Vollbildmodus angezeigt.</p>
 </item>
</steps>
</section>
<section id="present">
 <title>Eine Präsentation durchsuchen</title>
 <p>Mit der <key>Leertaste</key>, den Tasten <key>→</key> und <key>↓</key> oder einem Klick mit der linken Maustaste gehen Sie zur nächsten Folie.</p>
 <p>Mit den Tasten <key>←</key> und <key>↑</key> oder einem Klick mit der rechten Maustaste gehen Sie zur vorherigen Folie.</p>
 <note style="tip">
  <p>Sie können außerdem das Mausrad verwenden, um in der Präsentation vor und zurück zu gehen.</p>
 </note>
 <p>Mit <key>Esc</key> beenden Sie die Präsentation.</p>
</section>

<section id="file-formats">
<title>Unterstützte Präsentationsdateiformate</title>
<p>Die folgenden Dateiformate können für eine Präsentationen verwendet werden:</p>
<list>
 <item><p>Comic-Book-Archiv (.cbr und .cbz)</p></item>
 <item><p>Device Independent file format (.dvi)</p></item>
 <item><p>DjVu (.djvu, .djv)</p></item>
 <item><p>OpenDocument-Präsentation (.odp)</p></item>
 <item><p>Portable Document Format (.pdf)</p></item>
 <item><p>PostScript (.ps)</p></item>
</list>
</section>
</page>
