<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="print-order" xml:lang="de">

  <info>
    <link type="guide" xref="printing"/>

    <desc>Verwenden Sie die Optionen »Rückwärts« und »Zusammentragen«, um in gewünschter Reihenfolge zu drucken.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2009, 2011-2013, 2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2011, 2014-2015, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

<title>Kopien in der richtigen Reihenfolge drucken</title>

<section id="reverse">
 <title>Rückwärts</title>
 <p>Drucker drucken normalerweise die erste Seite zuerst und die letzte zuletzt, d.h. die Blätter sind in umgekehrter Reihenfolge, wenn Sie sie aufnehmen.</p>
 <p>So kehren Sie die Reihenfolge um:</p>
 <steps>
  <item><p><guiseq><gui>Datei</gui><gui>Drucken</gui></guiseq></p></item>
  <item><p>Aktivieren Sie das Ankreuzfeld <gui>Umkehren</gui> im Reiter <gui>Allgemein</gui> des Druckfensters unter <em>Kopien</em>. Die letzte Seite wird zuerst gedruckt usw.</p></item>
 </steps>
</section>

<section id="collate">
 <title>Zusammentragen</title>
 <p>Wenn Sie mehr als eine Ausgabe des Dokuments drucken, dann werden nach Voreinstellung die Seiten nach Seitennummer gruppiert ausgedruckt. (z.B. erst n-mal Seite eins, dann n mal Seite zwei etc.) Zusammentragen bedeutet, dass alle Dokumentseiten jeweils gruppiert (n-mal) ausgedruckt werden.</p>

 <p>So lassen Sie zusammentragen:</p>
 <steps>
  <item><p>Klicken Sie auf <guiseq><gui>Datei</gui><gui>Drucken</gui></guiseq></p></item>
  <item><p>Wählen Sie das Ankreuzfeld <gui>Zusammentragen</gui> im Reiter <gui>Allgemein</gui> des Druckfensters unter <em>Kopien</em> aus.</p></item>
 </steps>
 <media type="image" src="figures/reverse-collate.png"/>
</section>

</page>
