<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shortcuts" xml:lang="de">

  <info>
    <link type="guide" xref="index#advanced"/>
    <desc>Vorgegebene Tastenkombinationen.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.24" version="0.2" date="2017-08-10" status="final"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
       <name>Tiffany Antopolski</name>
       <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
       <name>Taufan Lubis</name>
       <email>taufanlinux@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Ronaldi Santosa</name>
       <email>ronald.santosa@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Ibnu Amansyah</name>
       <email>javalander9@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Andre Klapper</name>
       <email>ak-47@gmx.net</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2009, 2011-2013, 2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2011, 2014-2015, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>


<title>Tastenkombinationen</title>

<section id="default-shortcuts"><title>Vorgegebene Tastenkombinationen</title>
<section id="open-close-save-print">
  <title>Öffnen, Schließen, Speichern und Drucken</title>
  <table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Ein Dokument öffnen.</p></td>
        <td><p><keyseq><key>Strg</key><key>O</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Eine Kopie des aktuellen Dokuments öffnen.</p></td>
        <td><p><keyseq><key>Strg</key><key>N</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Eine Kopie des aktuellen Dokuments unter einem neuen Namen speichern.</p></td>
        <td><p><keyseq><key>Strg</key><key>S</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Das aktuelle Dokument drucken.</p></td>
        <td><p><keyseq><key>Strg</key><key>P</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Das aktuelle Dokumentfenster schließen.</p></td>
        <td><p><keyseq><key>Strg</key><key>W</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Das Dokument neu laden (schließt und öffnet das Dokument tatsächlich erneut).</p></td>
        <td><p><keyseq><key>Strg</key><key>R</key></keyseq></p></td>
    </tr>
  </table>
</section>

<section id="move-around">
    <title>Im Dokument navigieren</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Eine Seite nach oben/unten gehen.</p></td>
        <td><p>Pfeiltasten</p></td>
    </tr>
    <tr>
        <td><p>Eine Seite mehrere Zeilen nach oben/unten gehen.</p></td>
        <td><p><key>Bild auf</key> / <key>Bild ab</key></p></td>
    </tr>
    <tr>
        <td><p>Zur vorherigen/nächsten Seite gehen.</p></td>
        <td><p><keyseq><key>Strg</key><key>Bild auf</key></keyseq> / <keyseq><key>Strg</key><key>Bild ab</key></keyseq></p></td>
    </tr>
<tr>
        <td><p>Zur Seite gehen.</p></td>
        <td><p><keyseq><key>Strg</key><key>L</key></keyseq> gefolgt von der Seitennummer und der <key>Eingabetaste</key></p></td>
</tr>
    <tr>
        <td><p>An den Anfang der Seite springen (Anfang des Dokuments, falls <guiseq><gui>Ansicht</gui><gui>Fortlaufend</gui></guiseq> ausgewählt ist).</p></td>
         <td><p><key>Pos1</key></p></td>
    </tr>
    <tr>
        <td><p>An das Ende der Seite springen (Ende des Dokuments, falls <guiseq><gui>Ansicht</gui><gui>Fortlaufend</gui></guiseq> ausgewählt ist).</p></td>
        <td><p><key>Ende</key></p></td>
    </tr>
    <tr>
    	<td><p>An den Anfang des Dokuments springen.</p></td>
        <td><p><keyseq><key>Strg</key><key>Pos1</key></keyseq></p></td>
    </tr>
    <tr>
    	<td><p>An das Ende des Dokuments springen.</p></td>
         <td><p><keyseq><key>Strg</key><key>Ende</key></keyseq></p></td>
    </tr>
    <tr>
    	<td><p>Die Seitenliste mit einem Inhaltsverzeichnis anzeigen.</p></td>
         <td><p><key>F9</key></p></td>
    </tr></table>
</section>

<section id="copy">
    <title>Text auswählen und kopieren</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Markierten Text kopieren.</p></td>
        <td><p><keyseq><key>Strg</key><key>C</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Den gesamten Text in einem Dokument auswählen.</p></td>
        <td><p><keyseq><key>Strg</key><key>A</key></keyseq></p></td>
    </tr>
</table>
</section>

<section id="find">
    <title>Nach Text suchen</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Die Werkzeugleiste anzeigen, die eine Suche nach Wörtern im Dokument ermöglicht. Das Suchfeld wird automatisch hervorgehoben, wenn Sie dies drücken und die Suche beginnt, sobald Sie einige Buchstaben eintippen.</p></td>
        <td><p><keyseq><key>Strg</key><key>F</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Zum nächsten Suchtreffer springen.</p></td>
        <td><p><keyseq><key>Strg</key><key>G</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Zum vorherigen Suchtreffer springen.</p></td>
        <td><p><keyseq><key>Strg</key><key>Umschalttaste</key><key>G</key></keyseq></p></td>
    </tr>
</table>
</section>

<section id="rotate-zoom">
    <title>Drehungen und Größenänderungen</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Die Seiten um 90 Grad gegen den Uhrzeigersinn drehen.</p></td>
        <td><p><keyseq><key>Strg</key><key>Pfeiltaste links</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Die Seiten um 90 Grad im Uhrzeigersinn drehen.</p></td>
        <td><p><keyseq><key>Strg</key><key>Pfeiltaste rechts</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Vergrößern.</p></td>
        <td><p><keyseq><key>Strg</key><key>+</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Verkleinern.</p></td>
        <td><p><keyseq><key>Strg</key><key>-</key></keyseq></p></td>
    </tr>
</table>
</section>
</section>

</page>
