<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="bug-filing" xml:lang="da">

  <info>
    <link type="guide" xref="index#getInvolved"/>
    <desc>Hvor og hvordan man kan rapportere problemer.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Rapporter en fejl i <app>Dokumentfremviser</app></title>
<p>Programmet <app>Dokumentfremviser</app> vedligeholdes af et fællesskab af frivillige. Du er velkommen til at deltage. Hvis du støder ind i et problem, så kan du indsende en <em>fejlrapport</em>. Gør det ved at gå til <link href="https://bugzilla.gnome.org/"/>.</p>
   <p>Det er et fejlrapporteringssystem, hvor brugere og udviklere kan rapportere detaljer om fejl eller programnedbrud, og foreslå forbedringer.</p>
   <p>For at tage del, skal man have en konto, hvor man får mulighed for at få adgang, rapportere fejl og komme med kommentarer. Man skal også registrere sig for at få opdateringer med e-mail om status på fejlrapporten. Hvis ikke du har en konto, skal du bare klikke på <gui>Ny konto</gui> for at oprette den.</p>
   <p>Når du har oprettet en konto, skal du logge ind, klikke på <guiseq><gui>File a Bug</gui><gui>Core</gui><gui>evince</gui></guiseq>. Før du rapporterer en fejl, så læs venligst <link href="https://bugzilla.gnome.org/page.cgi?id=bug-writing.html">bug writing guidelines</link>, og <link href="https://bugzilla.gnome.org/browse.cgi?product=evince">søg</link> også først efter fejlen for at se om den allerede er rapporteret.</p>
   <p>For at rapportere en fejl skal du vælge komponenten i menuen <gui>Component</gui>. Hvis du ikke er sikker på, hvilken komponent fejlen vedrører, så vælg  <gui>general</gui>.</p>
   <p>
   If you are requesting a new feature, choose <gui>enhancement</gui> in the <gui>Severity</gui> menu.
   Fill in the Summary and Description sections and click <gui>Submit Bug</gui>.
   </p>
   <p>Din rapport får tildelt et ID-nummer, og dens status bliver opdateret når den behandles nærmere.</p>
</page>
