<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="synctex-support" xml:lang="lv">

  <info>
    <link type="guide" xref="index#synctex" group="second"/>
    <desc>Kā pievienot SyncTeX atbalstu.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.28" version="0.2" date="2018-06-28" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Germán Poo-Caamaño</name>
      <email>gpoo@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0 licence</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Viesturs Ružāns</mal:name>
      <mal:email>viesty@exs.lv</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rūdolfs Mazurs</mal:name>
      <mal:email>rudolfs.mazurs@gmail.com</mal:email>
      <mal:years>2012, 2013</mal:years>
    </mal:credit>
  </info>

<title>Iestatīt SyncTeX</title>
<p>Lai varētu pievienot SyncTeX atbalstu, jāuzinstalē sekojošās pakotnes:</p>
<list>
  <item>
    <p>
      A LaTeX engine with SyncTex support, such as <app>pdflatex</app>.
    </p>
  </item>
  <item>
    <p>
      A text editor with SynxTeX support, such as <app>gedit</app> with gedit-plugins installed.
    </p>
  </item>
</list>

<p><app>Gedit</app> lietotnē aktivē SyncTeX spraudni:</p>
<steps>
   <item>
    <p>Spied uz <guiseq><gui>Rediģēt</gui><gui>Iestatījumi</gui><gui>Spraudņi</gui></guiseq> cilnes.</p>
   </item>
   <item>
    <p>Atzīmē <gui>SyncTeX</gui>.</p>
   </item>
</steps>
</page>
