<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="movingaround" xml:lang="el">

  <info>
    <link type="guide" xref="index#reading"/>
    <revision pkgversion="3.2" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email its:translate="no">philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email its:translate="no">anna.cs.au@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal-unported.xml"/>

    <desc>Περιήγηση, κύλιση και εστίαση.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2005-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Στυλιανός Παπαναστασίου</mal:name>
      <mal:email>stelios@dcs.gla.ac.uk</mal:email>
      <mal:years>2005</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μιχάλης Κοτσαρίνης</mal:name>
      <mal:email>mk73628@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012, 2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gmail.com</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mαρία Μαυρίδου</mal:name>
      <mal:email>mavridou@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Μετακίνηση μέσα σε έγγραφο</title>

  <!-- TODO: split into smaller pages for 3.14 -->
  <p>Μπορείτε να μετακινηθείτε μέσα σε μια σελίδα του εγγράφου με οποιαδήποτε από τις ακόλουθες μεθόδους:</p>

  <list>
    <item>
      <p>Κύλιση πάνω και κάτω με τον τροχό του ποντικιού. Για μετακίνηση στη σελίδα απλά με κίνηση του ποντικιού:</p>
      <steps>
        <item>
          <p>Δεξί κλικ στη σελίδα και επιλέξτε <gui>Αυτόματη κύλιση</gui>.</p>
        </item>
        <item>
          <p>Μετακινήστε το δείκτη του ποντικιού προς το κάτω μέρος του παραθύρου για κύλιση προς τα κάτω· θα κυλήσει γρηγορότερα ανάλογα με το πόσο κάτω θα μετακινήσετε το παράθυρο.</p>
        </item>
        <item>
          <p>Για να σταματήσετε την αυτόματη κύλιση, κάντε κλικ οπουδήποτε στο έγγραφο.</p>
        </item>
      </steps>
    </item>
    <item>
      <p>Χρησιμοποιήστε τη γραμμή κύλισης στο παράθυρο του εγγράφου.</p>
    </item>
    <item>
      <p>Χρησιμοποιήστε τα πάνω και κάτω πλήκτρα βέλους του πληκτρολογίου.</p>
    </item>
    <item>
      <p>Σύρετε ολόγυρα τη σελίδα με το ποντίκι σας, σαν να την κρατούσατε. Για να το κάνετε:</p>
      <list>
        <item>
          <p>Μετακινήστε το δείκτη του ποντικιού πάνω από τη σελίδα και κρατήστε πατημένο το μεσαίο κουμπί για τη σύρετε ολόγυρα.</p>
        </item>
        <item>
          <p>Αν δεν έχετε μεσαίο κουμπί στο ποντίκι σας, κρατήστε πατημένα το αριστερό και το δεξί κουμπί ταυτόχρονα και μετά σύρετε.</p>
        </item>
      </list>
    </item>
  </list>

<section id="between-pages">
  <title>Ξεφύλλισμα σελίδων</title>

  <p>Μπορείτε να μετακινηθείτε μεταξύ των σελίδων ενός εγγράφου με μία από τις ακόλουθες μεθόδους:</p>

  <list>
    <item>
      <p>Click the <gui>View options</gui> menu in the top right corner
      and select <gui>Previous Page</gui> or <gui>Next Page</gui>.</p>
    </item>
    <item>
      <p>Πατήστε τα κουμπιά <keyseq><key>Ctrl</key><key>Page Up</key></keyseq> ή <keyseq><key>Ctrl</key><key>Page Down</key></keyseq> στο πληκτρολόγιο.</p>
    </item>
    <item>
      <p>Για να μεταβείτε σε συγκεκριμένη σελίδα:</p>
      <list>
        <item>
          <p>Type a page number in <gui style="input">Select Page</gui> on the
          <link xref="titlebar">title bar</link> and press <key>Enter</key>.</p>
        </item>
        <item>
          <p>If you want to see the previously visited pages press
          <gui style="button">&lt;</gui> or <gui style="button">&gt;</gui> on
          the title bar.</p>
        </item>
        <item>
          <p>Αν θέλετε να μεταβείτε στην αρχή ή το τέλος του εγγράφου:</p>
          <list>
            <item>
              <p>Click the <gui>View options</gui> menu in the top right corner
              and select <gui>First Page</gui>. You can also press
              <keyseq><key>Ctrl</key><key>Home</key></keyseq> on your
              keyboard.</p>
            </item>
            <item>
              <p>Click the <gui>View options</gui> menu in the top right corner
              and select <gui>Last Page</gui> or press
              <keyseq><key>Ctrl</key><key>End</key></keyseq> on your
              keyboard.</p>
            </item>
          </list>
        </item>
      </list>
    </item>
    <item>
      <p>Για να μετακινηθείτε δέκα σελίδες τη φορά, πατήστε <keyseq><key>Shift</key><key>Page Up</key></keyseq> ή <keyseq><key>Shift</key><key>Page Down</key></keyseq>.</p>
      <note style="tip">
        <p>Μπορείτε να μετακινήστε μια σελίδα τη φορά, ως προεπιλογή. Αν επιθυμείτε να μετακινήστε μεταξύ των σελίδων απλά με κύλιση ή σύρσιμο, κάντε κλικ στο κουμπί <gui>Εμφάνιση επιλογών</gui> στην πάνω δεξιά γωνία και επιλέξτε <gui>Συνεχής</gui>.</p>
      </note>
    </item>
  </list>

</section>

<section id="navigating">
  <title>Περιήγηση με λίστα σελίδων ή πίνακα περιεχομένων</title>

  <p>To make the side pane visible, click the <gui>View options</gui> button in
  the top-right corner and select <gui>Side Panel</gui>, or press <key>F9</key>
  on the keyboard. You should see a preview of all of the pages in the
  document.</p>

  <p>Μπορείτε να μετακινηθείτε μεταξύ των σελίδων με κλικ σε αυτές στην πλευρική στήλη.</p>

  <note>
    <p>Some documents have an index or table of contents, which you can display
    in the side pane. Click the drop-down list at the top of the side pane and
    select <gui>Outline</gui> to view it.</p>
    <note style="tip">
      <p>Τα περισσότερα έγγραφα δεν χρησιμοποιούν αυτή τη λειτουργία, έτσι δεν θα μπορέσετε να προβάλετε το ευρετήριο τους στην πλευρική στήλη.</p>
    </note>
  </note>

</section>

<section id="zoom">
  <title>Μεγέθυνση και σμίκρυνση</title>

  <list>
    <item>
      <p>Κάντε κλικ στο κουμπί <gui>Εμφάνιση επιλογών</gui> στην πάνω δεξιά γωνία και επιλέξτε <gui>Μεγέθυνση</gui> ή χρησιμοποιήστε τη συντόμευση πληκτρολογίου <keyseq><key>Ctrl</key><key>+</key></keyseq> για μεγέθυνση.</p>
    </item>
    <item>
      <p>Κάντε κλικ στο κουμπί <gui>Εμφάνιση επιλογών</gui> στην πάνω δεξιά γωνία και επιλέξτε <gui>Σμίκρυνση</gui> ή χρησιμοποιήστε τη συντόμευση πληκτρολογίου <keyseq><key>Ctrl</key><key>-</key></keyseq> για σμίκρυνση.</p>
    </item>
  </list>

  <p>Εναλλακτικά, μπορείτε να κάνετε ένα από τα ακόλουθα:</p>

  <list>
    <item>
      <p>κρατήστε πατημένο το <key>Ctrl</key> και χρησιμοποιήστε τον τροχό του ποντικιού για εστίαση.</p>
    </item>
    <item>
      <p>select desired zoom percentage from the drop-down menu above the
      window.</p>
      <media type="image" src="figures/zoom.png"/>
    </item>
  </list>

  <note>
    <p>Η επιλογή <gui>Προσαρμογή στη σελίδα</gui> θα κάνει τη σελίδα του εγγράφου να προσαρμόζει ολόκληρο το <em>ύψος</em> του παραθύρου.</p>
    <p>Η επιλογή <gui>Προσαρμογή στο πλάτος</gui> θα κάνει τη σελίδα του εγγράφου να γεμίζει όλο το <em>πλάτος</em> του παραθύρου.</p>
    <p>Αν θέλετε να βλέπετε δύο σελίδες ταυτόχρονα, τη μια δίπλα στην άλλη, όπως στα βιβλία, κάντε κλικ στο κουμπί <gui>Εμφάνιση επιλογών</gui> στην πάνω δεξιά γωνία και επιλέξτε <gui>Διπλή</gui>.</p>
    <p>Εάν η επιλογή allow-links-change-zoom στο gsettings έχει οριστεί σε false, έχουν φραγεί οι σύνδεσμοι από την αλλαγή του επιπέδου εστίασης.</p>
  </note>

  <p>Μπορείτε να χρησιμοποιήσετε ολόκληρη την οθόνη σας για να προβάλετε το έγγραφο:</p>

  <list>
    <item>
      <p>Κάντε κλικ στο κουμπί <gui>Εμφάνιση επιλογών</gui> στην πάνω δεξιά γωνία και επιλέξτε <gui>Πλήρης οθόνη</gui> ή πατήστε το <key>F11</key>.</p>
    </item>
    <item>
      <p>Για έξοδο από τη λειτουργία πλήρους οθόνης:</p>
      <list>
        <item>
          <p>Πατήστε το <key>F11</key> ή το <key>Escape</key></p>
        </item>
        <item>
          <p>Ή απενεργοποιήστε την <gui>Πλήρη οθόνη</gui> κάνοντας κλικ στο κουμπί <gui>Επιλογές προβολής</gui> στην πάνω δεξιά γωνία και επιλέξτε <gui>Πλήρης οθόνη</gui>.</p>
        </item>
      </list>
    </item>
  </list>
</section>

</page>
