<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="duplex-8page" xml:lang="pl">

  <info>
    <link type="guide" xref="print-booklet#doubleSided"/>
   <title type="sort">08-stronicowa broszura</title>
    <desc>Drukowanie 8-stronicowej broszury.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

<title>8-stronicowa broszura</title>
<steps>
 <item>
  <p>Kliknij <guiseq><gui>Plik</gui><gui>Wydrukuj</gui></guiseq>.</p>
 </item>

 <item>
  <p>Wybierz kartę <gui>Ogólne</gui>.</p>
  <p>W sekcji <em>Zakres</em> wybierz <gui>Strony</gui>.</p>
  <p>Wpisz numery stron w tej kolejności: 8, 1, 2, 7, 6, 3, 4, 5.</p>

 </item>
 <item>
  <p>Wybierz kartę <gui>Ustawienia strony</gui>.</p>
  <p>W sekcji <em>Układ</em>, menu <gui>Dwustronnie</gui>, wybierz <gui>Grzbiet wzdłuż krótszej krawędzi (obrót)</gui>.</p>
  <p>W opcji <gui>Stron na kartkę</gui> wybierz <gui>2</gui>.</p>
  <p>W menu <gui>Kolejność stron</gui> wybierz <gui>Od lewej do prawej</gui>.</p>
  <p>Kliknij przycisk <gui>Wydrukuj</gui>.</p>
 </item>



</steps>
</page>
