<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="forms-saving" xml:lang="pl">

  <info>
    <link type="guide" xref="index#forms"/>
    <desc>Nie zapomnij zapisać formularza, aby nie utracić wprowadzonych informacji.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email>anna.cs.au@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

<title>Zapisywanie formularza</title>

<p>Po jego wypełnieniu można zapisać formularz na jeden z dwóch sposobów.</p>

<list type="numbered">
<item><p>Aby zapisać kopię, którą będzie można modyfikować w przyszłości (formularz nadal będzie interaktywny):</p>
   <steps>
      <item>
        <p>Kliknij menu <gui>Opcje plików</gui> w górnym prawym rogu i wybierz <gui>Zapisz jako</gui> lub naciśnij klawisze <keyseq><key>Ctrl</key><key>S</key></keyseq>.</p>
     </item>
 <item>
      <p>Wybierz nazwę i katalog, w którym zapisać plik, a następnie kliknij przycisk <gui>Zapisz</gui>.</p>
    </item>
   </steps>
</item>
<item><p>Aby zapisać kopię, której nie będzie można już modyfikować (na przykład, aby wysłać formularz pocztą e-mail lub wysłać go w Internecie):</p>
   <steps>
    <item>
        <p>Kliknij menu <gui>Opcje plików</gui> w górnym prawym rogu i wybierz <gui>Wydrukuj</gui> lub naciśnij klawisze <keyseq><key>Ctrl</key><key>P</key></keyseq>.</p>
    </item>
    <item>
      <p>Zaznacz opcję <gui>Wydruk do pliku</gui> i wybierz PDF jako <gui>Format wyjściowy</gui>.</p>
    </item>
    <item>
      <p>Wybierz nazwę i katalog, w którym zapisać plik, a następnie kliknij przycisk <gui>Wydrukuj</gui>.</p>
    </item>
   </steps>
</item>
</list>

<note style="bug">
<p>Nie można zapisywać ani drukować kopii zaszyfrowanych plików.</p>
</note>

</page>
