<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="editing" xml:lang="sr">

  <info>
    <link type="guide" xref="index#faq"/>
    <desc>You can't use the <app>document viewer</app> to edit files.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Can I edit documents in the document viewer?</title>


 <p>
  The <app>document viewer</app> can't be used to make changes to documents. You need to use the appropriate editing application for the type of file you want to change.
 </p>


<note>
 <p>
 PDF and PostScript (.ps) files are not usually intended to be edited, but PDF editing software is available. Try
<link href="http://pdfedit.cz/en/index.html">pdfedit</link>, for example.
 </p>
</note>
</page>
