<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="annotation-properties" xml:lang="id">

  <info>
    <link type="guide" xref="annotations"/>
    <desc>Bagaimana menggubah pengarang, warna, gaya, atau ikon anotasi.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2012-2014, 2016, 2017.</mal:years>
    </mal:credit>
  </info>

 <title>Sesuaikan anotasi</title>

<steps>
 <item>
  <p>Klik kanan pada ikon anotasi dalam dokumen.</p>
 </item>
 <item>
  <p>Pilih <gui>Properti Anotasi…</gui>.</p>
 </item>
 <item>
  <p>Dalam jendela <gui>Properti Anotasi</gui>, Anda dapat mengubah pengarang, warna, gaya, dan ikon dari catatan Anda.</p>
   <note>
    <p>Properti anotasi hanya akan diterapkan ke catatan yang telah Anda ubah. Setiap catatan bisa memiliki set properti yang berbeda.</p>
   </note>
 </item>
</steps>


<section id="change-default">
 <title>Apakah saya dapat mengubah properti anotasi baku secara permanen?</title>
<p>Properti baku anotasi (penulis, warna, gaya dan icon) hanya dapat diubah pada catatan khusus seperti dinyatakan di atas. Jadi jika Anda ingin semua ikon untuk catatan Anda menjadi <gui>merah</gui>, bukan <gui>kuning</gui>, Anda harus mengubah baku dari <gui>kuning</gui> ke <gui>merah</gui> secara individu pada setiap catatan. Tidak ada cara untuk menyimpan pengaturan baku yang berbeda untuk properti anotasi, pada saat ini.</p>


</section>
</page>
