<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="duplex-11page" xml:lang="id">

  <info>
    <link type="guide" xref="print-booklet#doubleSided"/>

    <desc>Mencetak booklet 11 halaman.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2012-2014, 2016, 2017.</mal:years>
    </mal:credit>
  </info>

<title>booklet 11 halaman</title>
<steps>
 <item>
  <p>Klik <guiseq><gui>Berkas</gui><gui>Cetak</gui></guiseq>.</p>
 </item>


 <item>
  <p>Pilih tab <gui>Umum</gui>.</p>
  <p>Di bawah <em>Jangkauan</em>, pilih <gui>Halaman</gui>.</p>
  <p>Ketikkan nomor halaman dalam urutan berikut: 11, 2, 1</p>

 </item>
 <item>
  <p>Pilih tab <gui>Penyiapan Halaman</gui>.</p>
  <p>Di bawah <em>Tata letak</em>, dalam menu <gui>Dua sisi</gui>, pilih <gui>Tepi Pendek (Balik)</gui>.</p>
  <p>Dalam menu <gui>Halaman tiap sisi</gui>, pilih <gui>2</gui>.</p>
  <p>Dalam menu <gui>Pengurutan halaman</gui>, pilih <gui>Kanan ke kiri</gui>.</p>
  <p>Klik <gui>Cetak</gui>.</p>
 </item>


 <item>
  <p>Klik <guiseq><gui>Berkas</gui><gui>Cetak</gui></guiseq> lagi.</p>
 </item>
 <item>
  <p>Pilih tab <gui>Umum</gui>.</p>
  <p>Ketikkan nomor halaman sisanya dalam urutan berikut: 10, 3, 4, 9, 8, 5, 6, 7</p>
 </item>
<item>
  <p>Pilih tab <gui>Penyiapan Halaman</gui>.</p>
  <p>Dalam menu <gui>Pengurutan halaman</gui>, pilih <gui>Kiri ke kanan</gui>.</p>
  <p>Klik <gui>Cetak</gui>.</p>
 </item>
</steps>
<note>
   <p>Lebih mudah untuk mencetak booklet 12 halaman. Anda mungkin perlu menambah satu halaman kosong ke dokumen PDF Anda untuk membuatnya menjadi 12 halaman. Untuk melakukannya, Anda dapat:</p>
<steps>
 <item>
  <p>Buat suatu dokumen PDF kosong memakai <app>LibreOffice Writer</app>.</p>
 </item>
 <item>
  <p>Gabungkan halaman kosong dengan dokumen PDF Anda memakai <app>PDF-Shuffer</app> dengan menempatkan halaman-halaman kosong di akhir.</p>

 </item>
 <item>
  <p>Ikuti langkah-langkah untuk mencetak <link xref="duplex-12page">booklet 12 halaman</link>.</p>
 </item>
</steps>
</note>
</page>
