<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="forms-saving" xml:lang="id">

  <info>
    <link type="guide" xref="index#forms"/>
    <desc>Pastikan bahwa Anda menyimpan formulir, bila tidak makan semua informasi yang Anda masukkan akan hilang.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email>anna.cs.au@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2012-2014, 2016, 2017.</mal:years>
    </mal:credit>
  </info>

<title>Menyimpan formulir</title>

<p>Setelah Anda mengisinya, Anda mungkin ingin menyimpan formulir Anda dengan cara salah satu dari:</p>

<list type="numbered">
<item><p>Untuk menyimpan salinan yang dapat disunting di masa mendatang (formulir tetap interaktif):</p>
   <steps>
      <item>
        <p>Click the <gui>File options</gui> menu in the top right corner and
        select <gui>Save as</gui> or press
        <keyseq><key>Ctrl</key><key>S</key></keyseq> on your keyboard.</p>
     </item>
 <item>
      <p>Pilih suatu nama dan folder tempat menyimpan berkas, lalu klik <gui>Simpan</gui>. PDF akan disimpan dalam folder yang Anda pilih.</p>
    </item>
   </steps>
</item>
<item><p>Untuk menyimpan salinan yang tak dapat disunting lagi (sebagai contoh, untuk mengirim surel formulir atau mengirimnya daring):</p>
   <steps>
    <item>
        <p>Klik menu <gui>Opsi berkas</gui> di pojok kanan atas dan pilih <gui>Cetak</gui> atau tekan <keyseq><key>Ctrl</key><key>P</key></keyseq> pada papan tik Anda.</p>
    </item>
    <item>
      <p>Pilih <gui>Cetak ke Berkas</gui> dan pilih PDF sebagai <gui>Format keluaran</gui>.</p>
    </item>
    <item>
      <p>Pilih suatu nama dan folder tempat menyimpan berkas, lalu klik <gui>Cetak</gui>. PDF akan disimpan dalam folder yang Anda pilih.</p>
    </item>
   </steps>
</item>
</list>

<note style="bug">
<p>Salinan dari berkas terenkripsi tak dapat disimpan atau dicetak.</p>
</note>

</page>
