<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="introduction" xml:lang="id">

  <info>
    <link type="guide" xref="index"/>
    <revision pkgversion="3.2" date="2011-09-05" status="final"/>
    <revision pkgversion="3.12" date="2014-02-28" status="final"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany@antopolski.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal-unported.xml"/>

    <desc>Pengenalan ke <em>Evince Penilik Dokumen</em>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2012-2014, 2016, 2017.</mal:years>
    </mal:credit>
  </info>

  <title>Perkenalan</title>

  <p><app>Evince</app> adalah penampil dokumen. Lihat <link xref="formats"/> untuk daftar tipe berkas yang dapat Anda tilik.</p>

</page>
