<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="license" xml:lang="id">
  
  <info>
    <link type="seealso" xref="index"/>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <desc>Informasi legal.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2012-2014, 2016, 2017.</mal:years>
    </mal:credit>
  </info>

  <title>Lisensi</title>
  <p>Karya ini didistribusikan di bawah lisensi CreativeCommons Attribution-Share Alike 3.0 Unported.</p>
  <p>Anda bebas:</p>
  <terms>
    <item>
      <title><em>Untuk berbagi</em></title>
      <p>Untuk menyalin, mendistribusikan, dan mentransmisikan karya ini.</p>
    </item>
    <item>
      <title><em>Untuk mencampur ulang</em></title>
      <p>Untuk mengadaptasi karya ini.</p> 
    </item>
  </terms>
  <p>Di bawah syarat-syarat berikut:</p>
  <terms>
    <item>
      <title><em>Atribusi</em></title>
      <p>Anda harus memberi penghargaan atas karya dalam cara yang ditentukan oleh pengarang atau pemberi lisensi (tapi tidak dengan cara apapun yang mengesankan bahwa mereka mendorong Anda atau penggunaan Anda terhadap karya).</p>
    </item>
    <item>
      <title><em>Saling Berbagi</em></title>
      <p>Jika Anda mengubah, mengubah, atau membangun atas dasar karya ini, Anda dapat mendistribusikan karya yang dihasilkan hanya di bawah lisensi yang sama, mirip, atau yang kompatibel.</p>
    </item>
  </terms>
  <p>Untuk teks lengkap lisensi, lihat <link href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">situs web CreativeCommons</link> atau baca <link href="http://creativecommons.org/licenses/by-sa/3.0/">Commons Deed</link> yang lengkap.</p>
</page>
