<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="print-select" xml:lang="id">

  <info>
    <link type="guide" xref="printing"/>
    <desc>Mencetak hanya halaman tertentu, atau hanya suatu jangkauan halaman.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2012-2014, 2016, 2017.</mal:years>
    </mal:credit>
  </info>

<title>Hanya mencetak halaman tertentu</title>


<p>Untuk mencetak hanya halaman tertentu dari dokumen:</p>
<steps>
 <item><p>Klik <guiseq><gui>Berkas</gui><gui>Cetak</gui></guiseq></p></item>
 <item><p>Dalam tab <gui>Umum</gui> dalam jendela Cetak pilih <gui>Halaman</gui> dari seksi <gui>Jangkauan</gui>.</p></item>
<item><p>Ketikkan nomor-nomor halaman yang ingin Anda cetak dalam kotak teks, dipisah dengan koma. Gunakan strip untuk menandai jangkauan halaman.</p></item>
</steps>



<note>
<p>Sebagai contoh, bila Anda masukkan "1,3,5-7,9" dalam kotak teks <gui>Halaman</gui>, makan halaman 1, 3, 5, 6, 7, dan 9 akan dicetak.</p>
 <media type="image" src="figures/print-select.png"/>
</note>

</page>
