<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="translate" xml:lang="id">

  <info>
   <link type="guide" xref="index#getInvolved"/>
    <desc>Lokalkan <app>Penilik Dokumen</app>.</desc>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
     <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
       <p>Creative Commons Share Alike 3.0</p>
     </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2012-2014, 2016, 2017.</mal:years>
    </mal:credit>
  </info>

<title>Bantu menerjemahkan</title>
<p>Antar muka pengguna dan dokumentasi <app>Penampil Dokumen</app> sedang diterjemahkan oleh komunitas relawan di seluruh dunia. Anda dipersilakan untuk berpartisipasi.</p>
<p>Ada <link href="http://l10n.gnome.org/module/evince/">banyak bahasa</link> yang masih perlu terjemahan.</p>
<p>Untuk mulai menerjemahkan Anda akan perlu <link href="http://l10n.gnome.org">membuat akun</link> dan bergabung dengan <link href="http://l10n.gnome.org/teams/">tim penerjemah</link> untuk bahasa Anda. Ini akan memberi Anda kemampuan untuk mengunggah terjemahan baru.</p>

<p>Anda dapat mengobrol dengan para penerjemah GNOME memakai <link href="https://cbe003.chat.mibbit.com/?url=irc%3A%2F%2Firc.gnome.org%2Fi18n">irc</link>. Orang-orang di kanal berada di seluruh penjuru dunia, sehingga Anda mungkin tidak mendapat respon seketika sebagai akibat dari perbedaan zona waktu.</p>
<p>Sebagai alternatif, Anda dapat mengubungi Tim Internasionalisasi memakai <link href="http://mail.gnome.org/mailman/listinfo/gnome-i18n">milis</link> mereka.</p>
</page>
