<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="movingaround" xml:lang="zh-HK">

  <info>
    <link type="guide" xref="index#reading"/>
    <revision pkgversion="3.2" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email its:translate="no">philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email its:translate="no">anna.cs.au@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal-unported.xml"/>

    <desc>Navigating, scrolling and zooming.</desc>
  </info>

  <title>Moving around a document</title>

  <!-- TODO: split into smaller pages for 3.14 -->
  <p>You can move around each page of a document by any of the following
  methods:</p>

  <list>
    <item>
      <p>Scrolling up and down using the mouse wheel. To move around a page
      just by moving the mouse:</p>
      <steps>
        <item>
          <p>Right-click the page and select <gui>Autoscroll</gui>.</p>
        </item>
        <item>
          <p>Move the mouse pointer towards the bottom of the window to scroll
          down; it will scroll faster depending on how far down the window you
          go.</p>
        </item>
        <item>
          <p>To stop autoscrolling, click anywhere in the document.</p>
        </item>
      </steps>
    </item>
    <item>
      <p>Using the scroll bar on the document window.</p>
    </item>
    <item>
      <p>Using the up and down arrow keys of your keyboard.</p>
    </item>
    <item>
      <p>Dragging the page around with your mouse, as if you are grabbing it.
      To do this:</p>
      <list>
        <item>
          <p>Move the mouse pointer over the page and hold down the middle
          mouse button to drag it around.</p>
        </item>
        <item>
          <p>If you don't have a middle mouse button, hold down the left and
          right mouse buttons at the same time, then drag.</p>
        </item>
      </list>
    </item>
  </list>

<section id="between-pages">
  <title>Flipping between pages</title>

  <p>You can move between pages of a document using one of the following
  methods:</p>

  <list>
    <item>
      <p>Click the <gui>View options</gui> menu in the top right corner
      and select <gui>Previous Page</gui> or <gui>Next Page</gui>.</p>
    </item>
    <item>
      <p>Press the <keyseq><key>Ctrl</key><key>Page Up</key></keyseq> or
      <keyseq><key>Ctrl</key><key>Page Down</key></keyseq> buttons on the
      keyboard.</p>
    </item>
    <item>
      <p>To go to a specific page:</p>
      <list>
        <item>
          <p>Type a page number in <gui style="input">Select Page</gui> on the
          <link xref="titlebar">title bar</link> and press <key>Enter</key>.</p>
        </item>
        <item>
          <p>If you want to see the previously visited pages press
          <gui style="button">&lt;</gui> or <gui style="button">&gt;</gui> on
          the title bar.</p>
        </item>
        <item>
          <p>If you want to go to the beginning or the end of the document:</p>
          <list>
            <item>
              <p>Click the <gui>View options</gui> menu in the top right corner
              and select <gui>First Page</gui>. You can also press
              <keyseq><key>Ctrl</key><key>Home</key></keyseq> on your
              keyboard.</p>
            </item>
            <item>
              <p>Click the <gui>View options</gui> menu in the top right corner
              and select <gui>Last Page</gui> or press
              <keyseq><key>Ctrl</key><key>End</key></keyseq> on your
              keyboard.</p>
            </item>
          </list>
        </item>
      </list>
    </item>
    <item>
      <p>To move ten pages at a time, press <keyseq><key>Shift</key><key>Page
      Up</key></keyseq> or <keyseq><key>Shift</key><key>Page
      Down</key></keyseq>.</p>
      <note style="tip">
        <p>You can only move around one page at a time, by default. If you want
        to move between pages just by scrolling or dragging, click the
        <gui>View options</gui> button in the top-right corner and select
        <gui>Continuous</gui>.</p>
      </note>
    </item>
  </list>

</section>

<section id="navigating">
  <title>Navigating with a page list or table of contents</title>

  <p>To make the side pane visible, click the <gui>View options</gui> button in
  the top-right corner and select <gui>Side Panel</gui>, or press <key>F9</key>
  on the keyboard. You should see a preview of all of the pages in the
  document.</p>

  <p>You can move between pages by clicking on them in the side pane.</p>

  <note>
    <p>Some documents have an index or table of contents, which you can display
    in the side pane. Click the drop-down list at the top of the side pane and
    select <gui>Outline</gui> to view it.</p>
    <note style="tip">
      <p>Most documents don't use this feature, so you won't be able to view
      their index in the side pane.</p>
    </note>
  </note>

</section>

<section id="zoom">
  <title>Zooming in and out</title>

  <list>
    <item>
      <p>Click the <gui>View options</gui> button in the top-right corner and
      select <gui>Zoom In</gui> or use the keyboard shortcuts
      <keyseq><key>Ctrl</key><key>+</key></keyseq> to zoom in.</p>
    </item>
    <item>
      <p>Click the <gui>View options</gui> button in the top-right corner and
      select <gui>Zoom Out</gui> or use the keyboard shortcuts
      <keyseq><key>Ctrl</key><key>-</key></keyseq> to zoom out.</p>
    </item>
  </list>

  <p>Alternatively, you can do one of the following:</p>

  <list>
    <item>
      <p>hold down <key>Ctrl</key> and use your mouse scroll wheel to zoom.</p>
    </item>
    <item>
      <p>select desired zoom percentage from the drop-down menu above the
      window.</p>
      <media type="image" src="figures/zoom.png"/>
    </item>
  </list>

  <note>
    <p>The <gui>Fit Page</gui> option will make a document page fit the whole
    <em>height</em> of the window.</p>
    <p>The <gui>Fit Width</gui> option will make a document page fill the whole
    <em>width</em> of the window.</p>
    <p>If you want to see two pages at once, side by side, like in a book,
    click the <gui>View options</gui> button in the top-right corner and select
    <gui>Dual</gui>.</p>
    <p>If the allow-links-change-zoom gsetting is set to false, links are blocked
    from changing your zoom level.</p>
  </note>

  <p>You can use the whole of your screen to view the document:</p>

  <list>
    <item>
      <p>Click the <gui>View options</gui> button in the top-right corner and
      select <gui>Fullscreen</gui> or press <key>F11</key>.</p>
    </item>
    <item>
      <p>To exit the full screen mode:</p>
      <list>
        <item>
          <p>Press <key>F11</key> or <key>Escape</key></p>
        </item>
        <item>
          <p>Or disable <gui>Fullscreen</gui> by clicking the <gui>View
          options</gui> button in the top-right corner and select
          <gui>Fullscreen</gui>.</p>
        </item>
      </list>
    </item>
  </list>
</section>

</page>
