<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="synctex-support" xml:lang="gl">

  <info>
    <link type="guide" xref="index#synctex" group="second"/>
    <desc>Como engadir compatibilidade para SyncTex.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.28" version="0.2" date="2018-06-28" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Germán Poo-Caamaño</name>
      <email>gpoo@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@ubuntu.com</mal:email>
      <mal:years>2010-2012</mal:years>
    </mal:credit>
  </info>

<title>Configurar SyncTex</title>
<p>Para engadir compatibilidade para SyncTex débense instalar os seguintes paquetes:</p>
<list>
  <item>
    <p>
      A LaTeX engine with SyncTex support, such as <app>pdflatex</app>.
    </p>
  </item>
  <item>
    <p>
      A text editor with SynxTeX support, such as <app>gedit</app> with gedit-plugins installed.
    </p>
  </item>
</list>

<p>En <app>gedit</app>, active o complemento SyncTex:</p>
<steps>
   <item>
    <p>Prema na lapela <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Engadidos</gui></guiseq>.</p>
   </item>
   <item>
    <p>Marque <gui>SyncTex</gui>.</p>
   </item>
</steps>
</page>
