<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="synctex-support" xml:lang="te">

  <info>
    <link type="guide" xref="index#synctex" group="second"/>
    <desc>How to add support for SyncTeX.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.28" version="0.2" date="2018-06-28" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Germán Poo-Caamaño</name>
      <email>gpoo@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Set-up SyncTeX</title>
<p>
The following packages need to be installed in order to add support for SyncTeX:
</p>
<list>
  <item>
    <p>
      A LaTeX engine with SyncTex support, such as <app>pdflatex</app>.
    </p>
  </item>
  <item>
    <p>
      A text editor with SynxTeX support, such as <app>gedit</app> with gedit-plugins installed.
    </p>
  </item>
</list>

<p>
  In <app>gedit</app>, enable the SyncTeX Plugin:
</p>
<steps>
   <item>
    <p>
     Click <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Plugins</gui></guiseq> tab.
    </p>
   </item>
   <item>
    <p>
     Check <gui>SyncTeX</gui>.
    </p>
   </item>
</steps>
</page>
