<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="bug-filing" xml:lang="es">

  <info>
    <link type="guide" xref="index#getInvolved"/>
    <desc>Cómo y dónde informar de un error</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

<title>Informar de un error en <app>Visor de documentos</app></title>
<p>Una comunidad de voluntarios ha creado <app>Visor de documentos</app>. Se le dará la bienvenida si quiere participar. Si descubre un problema, puede rellenar un <em>informe de error</em>. Para rellenar un informe de error, vaya a <link href="https://bugzilla.gnome.org/"/>.</p>
   <p>Este es un sistema de seguimiento de errores, donde los usuarios y los desarrolladores puede archivar detalles sobre los fallos, errores y solicitudes de mejoras.</p>
   <p>Para participar necesita una cuenta, que le permitirá obtener acceso, informar de errores y hacer comentarios. También debe registrarte para poder recibir actualizaciones por correo-e sobre el estado de su informe de error. Si todavía no tiene una cuenta, simplemente pulse en el enlace <gui>New Account</gui> para crear una.</p>
   <p>Una vez que tenga su cuenta, inicie sesión y pulse en <guiseq><gui>Informar de un error</gui><gui>Escritorio</gui><gui>evince</gui></guiseq>. Antes de informar de un error, lea las <link href="https://bugzilla.gnome.org/page.cgi?id=bug-writing.html">guías para informar de un error</link> y <link href="https://bugzilla.gnome.org/browse.cgi?product=evince">busque</link> el error para ver si ya existe.</p>
   <p>Para informar de un error, elija el componente en el menú <gui>Component</gui>. Si no está seguro de a qué componente pertenece el error, elija <gui>general</gui>.</p>
   <p>Si está solicitando una mejora, elija <gui>enhancement</gui> en el menú <gui>Severity</gui>. Rellene las secciones «Summary» y «Description» y pulse <gui>Submit Bug</gui>.</p>
   <p>Su informe obtendrá un número de ID, y su estado se actualizará a medida que se trata.</p>
</page>
