<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="duplex-6page" xml:lang="es">

  <info>
    <link type="guide" xref="print-booklet#doubleSided"/>
    <title type="sort">Folleto de 06 páginas</title>
    <desc>Imprimir un folleto de 6 páginas.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

<title>Folleto de 6 páginas</title>
<steps>

 <item>
  <p>Pulse <guiseq><gui>Archivo</gui><gui>Imprimir</gui></guiseq>.</p>
 </item>
 <item>
  <p>Elija la pestaña <gui>General</gui>.</p>
  <p>En <em>Rango</em>, elija <gui>Páginas</gui>.</p>
<p>Escriba los números de las páginas en este orden: 6, 3, 4, 5, 2</p>

 </item>

 <item>
  <p>Elija la pestaña <gui>Configuración de página</gui>.</p>
<p>En <em>Diseño</em>, en el menú <gui>Doble cara</gui>, seleccione <gui>Margen corto (girar)</gui>.</p>
 <p>En la opción <gui>Páginas por hoja</gui>, elija <gui>2</gui>.</p>
 <p>En el menú<gui>Ordenación de páginas</gui>, elija <gui>De izquierda a derecha</gui>.</p>
 <p>Pulse <gui>Imprimir</gui>.</p>
 </item>



 <item>
 <p>Una vez que las páginas se han imprimido coja la página 2 y vuelva colocarla en la impresora, teniendo cuidado de orientarla correctamente (la página 1 se imprimirá en la otra cara).</p>
 </item>
 <item>
  <p>Pulse <guiseq><gui>Archivo</gui><gui>Imprimir</gui></guiseq>.</p>
 </item>
 <item>
  <p>Elija la pestaña <gui>General</gui>.</p>
 <p>En <em>Rango</em>, seleccione la opción <gui>Páginas</gui> y escriba: 1</p>
 </item>


<item>
  <p>Elija la pestaña <gui>Configuración de página</gui>.</p>
  <p>En el menú<gui>Ordenación de páginas</gui>, elija <gui>De derecha a izquierda</gui>.</p>
  <p>Pulse <gui>Imprimir</gui>.</p>
 </item>

</steps>
<note>
   <p>Es más fácil imprimir un folleto de 8 páginas. Puede querer añadir 2 páginas en blanco a su documento PDF para que sea de 8 páginas. Para hacerlo, puede:</p>
<steps>
 <item>
  <p>Crear un documento PDF de 2 páginas usando el <app>Procesador de textos de LibreOffice</app>.</p>
 </item>
 <item>
  <p>Combine el PDF en blanco con su documento PDF usando <app>PDF-Shuffler</app>, situando las páginas en blanco al final.</p>

 </item>
 <item>
  <p>Siga los pasos para imprimir un <link xref="duplex-8page">folleto de 8 páginas</link>.</p>
 </item>
</steps>
</note>
</page>
