<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="singlesided-9-12page" xml:lang="es">

  <info>
    <link type="guide" xref="print-booklet#singleSided"/>
    <title type="sort">Folleto de 09 o 12 páginas</title>
    <desc>Imprimir un folleto de 9, 10, 11 o 12 páginas</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

<title>Folleto de 9 a 12 páginas</title>

 <p>Si tiene un documento PDF de 9, 10 u 11 páginas, debería añadir el número apropiado de páginas en blanco para hacer que tenga 12 páginas. Para hacerlo, puede:</p>
 <steps>
 <item>
  <p>Crear un PDF vacío usando el <app>Procesador de textos de LibreOffice</app>.</p>
 </item>
 <item>
  <p>Combinar las páginas en blanco con su documento PDF usando <app>PDF-Shuffler</app>, situando las páginas en blanco al final.</p>
 </item>
</steps>

 <p>Imprimir:</p>
  <steps>
 <item>
  <p>Pulse <guiseq><gui>Archivo</gui><gui>Imprimir</gui></guiseq>.</p>
 </item>


 <item>
  <p>Elija la pestaña <gui>General</gui>.</p>
  <p>En <em>Rango</em>, elija <gui>Páginas</gui>.</p>
  <p>Escriba los números de las páginas en este orden: 12, 1, 2, 11, 10, 3, 4, 9, 8, 5, 6, 7</p>
 </item>
 <item>
  <p>Elija la pestaña <gui>Configuración de página</gui>.</p>
  <p>En <em>Diseño</em>, en el menú <gui>Doble cara</gui>, elija <gui>Una cara</gui>.</p>
  <p>En el menú <gui>Páginas por hoja</gui>, elija <gui>2</gui>.</p>
  <p>En el menú<gui>Ordenación de páginas</gui>, elija <gui>De izquierda a derecha</gui>.</p>
  <p>En el menú <gui>Sólo imprimir</gui>, elija <gui>Páginas impares</gui>.</p>
 </item>
 <item>
  <p>Pulse <gui>Imprimir</gui>.</p>
 </item>
   <item>
    <p>Cuando se hayan imprimido todas las páginas, déles la vuelta y póngalas otra vez en la impresora.</p>
   </item>
   <item>
    <p>Pulse <guiseq><gui>Archivo</gui><gui>Imprimir</gui></guiseq>.</p>
   </item>
   <item>
    <p>Elija la pestaña <gui>Configuración de página</gui>.</p>
     <p>En el menú <gui>Sólo imprimir</gui>, elija <gui>Páginas pares</gui>.</p>
   </item>
   <item>
    <p>Pulse <gui>Imprimir</gui>.</p>
   </item>

  </steps>

</page>
