<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="synctex-compile" xml:lang="es">

  <info>
    <link type="guide" xref="index#synctex" group="third"/>
    <desc>Como compilar su documento TeX con SyncTex</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

<title>Compilar TeX con SyncTex</title>
<p>Añadir la línea <em>\synctex=1</em> en el preámbulo de su archivo TeX disparará la sincronización con SyncTeX.</p>
<code>
\documentclass{article}
\synctex=1
\usepackage{fullpage}
\begin{document}
...
\end{document}
</code>
<p>Alternativamente, puede ejecutar el comando «pdflatex» con la opción <em>-synctex=1</em>:</p>
<screen>pdflatex -synctex=1 suArchivo.tex</screen>
</page>
