<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="titlebar" xml:lang="fi">

  <info>
    <link type="guide" xref="index#tips"/>
    <desc>Using the title bar.</desc>

    <revision pkgversion="3.10" version="0.1" date="2013-11-04" status="final"/>
    <revision pkgversion="3.24" version="0.2" date="2017-09-17" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sami Jaktholm</mal:name>
      <mal:email>sjakthol@outlook.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Timo Jyrinki</mal:name>
      <mal:email>timo.jyrinki@iki.fi</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tommi Vainikainen</mal:name>
      <mal:email>thv@iki.fi</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flammie Pirinen</mal:name>
      <mal:email>flammie@iki.fi</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

<title>Title bar</title>

<p>The title bar contains:</p>
  <list>
    <item>
      <p>A text field to <link xref="movingaround#between-pages">go to a certain
      page</link> or to <link xref="finding">search</link> in the
      <link xref="movingaround#navigating">index</link>.</p>
    </item>
    <item>
      <p><gui>&lt;</gui> ja <gui>&gt;</gui> painikkeet selaushistoriakohteiden välillä liikkumiseen.</p>
    </item>
    <item>
      <p>A <gui>Magnifying glass button</gui> to <link xref="finding">find a
      word or phrase in the document</link>.</p>
    </item>
    <item>
      <p>A button to manage <link xref="annotations">annotations</link>.</p>
    </item>
    <item>
      <p>A drop-down box to adjust the <link xref="movingaround#zoom">zoom</link> level.</p>
    </item>
    <item>
      <p>A button to open the <gui>View options</gui> menu.</p>
    </item>
    <item>
      <p>A button to open the <gui>File options</gui> menu.</p>
    </item>
  </list>
</page>
