<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="annotations" xml:lang="en-GB">

  <info>
    <link type="guide" xref="index#annotations"/>
    <desc>How to create and customize annotations.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.26" version="0.2" date="2017-08-03" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="author">
      <name>Andre Klapper</name>
      <email>ak-47@gmx.net</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Adding annotations</title>
<p>
  An annotation is a note or comment added to a PDF document.  You can add annotations using the <app>document viewer</app>.
</p>
<p>
  When you open a file, you should have a side pane on the left side of the window.  If you do not have a visible side pane, click the <gui>View options</gui> menu in the top right corner and select <gui>Side Panel</gui> or press <key>F9</key> on the keyboard.
</p>

<p>
 At the top of this side pane, there is a drop-down menu with options like <gui>Thumbnails</gui>, <gui>Outline</gui> and <gui>Annotations</gui> (some of which may be <em>dimmed</em> for some documents).
</p>
<p>
 To create an annotation:
</p>
<steps>
 <item>
  <p>
    Select <gui>Annotate the document</gui> from the title bar.
  </p>
    <media type="image" src="figures/add-text-annotation.png"/>
    <list>
     <item>
      <p>
        You should now see <gui>Add text annotation</gui> and <gui>Add highlight annotation</gui> buttons below the title bar.
      </p>
       <media its:translate="no" type="image" src="figures/list-add-tabs.png"/>
     </item>
    </list>
 </item>
 <item>
  <p>
   Click on the first icon to add a text annotation.
  </p>
 </item>
 <item>
  <p>
   Click on the spot in the document window you would like to add the annotation to.  Your <em>annotation</em> window will open.
  </p>
 </item>
 <item>
  <p>
    Type your text into the <em>annotation</em> window.
  </p>
   <note>
    <p>
     You can resize the note by clicking and holding the left mouse button on one of the bottom corners of the note, and moving it around.
    </p>
   </note>
 </item>
 <item>
  <p>
    Close the note by clicking on the <gui>x</gui> in the top corner of the note.
  </p>
 </item>
</steps>


</page>
