<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="bug-filing" xml:lang="en-GB">

  <info>
    <link type="guide" xref="index#getInvolved"/>
    <desc>How and where to report problems.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>File a bug against the <app>document viewer</app></title>
<p>
   The <app>document viewer</app> is maintained by a volunteer community. You are welcome to participate.  If you notice a problem you can file a <em>bug report</em>. To file a bug, go to <link href="https://bugzilla.gnome.org/"/>.
   </p>
   <p>
   This is a bug tracking system where users and developers can file details about bugs, crashes and request enhancements.  
   </p>
   <p>
   To participate you need an account which will give you the ability to gain access, file bugs, and make comments.  Also, you need to register so you can receive updates by e-mail about the status of your bug. If you don't already have an account, just click on the <gui>New Account</gui> link to create one.
   </p>
   <p>
   Once you have an account, log in, click on <guiseq><gui>File a Bug</gui><gui>Core</gui><gui>evince</gui></guiseq>.
   Before reporting a bug, please read the <link href="https://bugzilla.gnome.org/page.cgi?id=bug-writing.html">bug writing guidelines</link>,  and please <link href="https://bugzilla.gnome.org/browse.cgi?product=evince">browse</link> for the bug to see if it already exists.
   </p>
   <p>
   To file your bug, choose the component in the <gui>Component</gui> menu.  If you are not sure which component your bug pertains to, choose <gui>general</gui>.
   </p>
   <p>
   If you are requesting a new feature, choose <gui>enhancement</gui> in the <gui>Severity</gui> menu.
   Fill in the Summary and Description sections and click <gui>Submit Bug</gui>.
   </p>
   <p>
      Your report will be given an ID number, and its status will be updated as it is being dealt with.
   </p>
</page>
