<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="bookmarks" xml:lang="it">

  <info>
    <link type="guide" xref="index#annotations"/>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10" date="2013-11-04" status="final"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>You can use annotations like bookmarks.</desc>
  </info>

<title>Bookmarks</title>

  <p>You can add, rename and delete bookmarks using the <app>Document
  Viewer</app>.</p>

  <p>When you open a file, you should see a side pane on the left side of the
  window. If you do not have a visible side pane, press the <key>F9</key>
  key.</p>

  <p>At the top of this side pane, there is a drop-down menu. To work with
  bookmarks, select the <gui>Bookmarks</gui> option from this drop-down menu.</p>

  <links type="section"/>

<section id="create">
  <title>Create a bookmark</title>

  <steps>
    <item>
      <p>In the PDF document itself, navigate to the page to which you would
      like to add the bookmark.</p>
    </item>
    <item>
      <p>In the side pane, select <gui>Bookmarks</gui> from the drop-down
      menu.</p>
    </item>
    <item>
      <p>Click the <gui>Add</gui> button at the bottom of the side pane. The
      default name of the bookmark you just added is the page number of the
      document.</p>
    </item>
    <item>
      <p>The bookmark is now listed in the bookmarks list.</p>
    </item>
  </steps>

</section>

<section id="rename">
  <title>Rename a bookmark</title>

  <steps>
    <item><p>Select the bookmark in the side pane.</p></item>
    <item><p>Click on the bookmark name.</p></item>
    <item><p>Enter the new name.</p></item>
    <item><p>Press <key>Enter</key>.</p></item>
  </steps>

</section>

<section id="delete">
  <title>Delete a bookmark</title>

  <steps>
   <item><p>Select the bookmark in the side pane.</p></item>
   <item><p>Click the <gui>Remove</gui> button at the bottom of the side pane.</p></item>
  </steps>

</section>

</page>
