<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="presentations" xml:lang="it">

  <info>
    <link type="guide" xref="index#pres"/>
    <desc>How to play presentations.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email>anna.cs.au@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Presentations</title>
<section id="start-presentation">
<title>Starting a presentation</title>
<p>To start a presentation:</p>
<steps>
 <item>
  <p><link xref="opening">Open a file</link></p>
 </item>
 <item>
   <p>Click the <gui>View options</gui> button in the top-right corner and
   select <gui>Presentation</gui> (or press <key>F5</key>).</p>
  <p>
   The presentation will be displayed full screen.
  </p>
 </item>
</steps>
</section>
<section id="present">
 <title>
  Moving through a presentation
 </title>
 <p>
  Use the <key>spacebar</key>, <key>→</key>, <key>↓</key>, or left mouse click to go to the next slide.
 </p>
 <p>
  Use the <key>←</key>, <key>↑</key> or right mouse click to go to the previous slide.
 </p>
 <note style="tip">
  <p>
   You can also use the scroll wheel to move back and forth through the presentation.
  </p>
 </note>
 <p>
  Use <key>Esc</key> to exit the presentation.
 </p>
</section>

<section id="file-formats">
<title>Supported presentation file formats</title>
<p>
The following file formats can be used for presentations:
</p>
<list>
 <item><p>Comic Book Archive (.cbr and .cbz)</p></item>
 <item><p>Device Independent file format (.dvi)</p></item>
 <item><p>DjVu (.djvu, .djv)</p></item>
 <item><p>Open Document Presentation (.odp)</p></item>
 <item><p>Portable Document Format (.pdf)</p></item>
 <item><p>PostScript (.ps)</p></item>
</list>
</section>
</page>
