<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shortcuts" xml:lang="it">

  <info>
    <link type="guide" xref="index#advanced"/>
    <desc>See a list of all shortcuts.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.24" version="0.2" date="2017-08-10" status="final"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
       <name>Tiffany Antopolski</name>
       <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
       <name>Taufan Lubis</name>
       <email>taufanlinux@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Ronaldi Santosa</name>
       <email>ronald.santosa@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Ibnu Amansyah</name>
       <email>javalander9@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Andre Klapper</name>
       <email>ak-47@gmx.net</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>


<title>Keyboard shortcuts</title>

<section id="default-shortcuts"><title>Default shortcuts</title>
<section id="open-close-save-print">
  <title>Opening, closing, saving and printing</title>
  <table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Open a document.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>O</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Open a copy of the current document.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>N</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Save a copy of the current document with a new file
name.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>S</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Print the current document.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>P</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Close the current document window.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>W</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Reload the document (effectively closes and re-opens the
document).</p></td>
        <td><p><keyseq><key>Ctrl</key><key>R</key></keyseq></p></td>
    </tr>
  </table>
</section>

<section id="move-around">
    <title>Moving around a document</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Move up/down a page.</p></td>
        <td><p>Arrow keys</p></td>
    </tr>
    <tr>
        <td><p>Move up/down a page several lines at a time.</p></td>
        <td><p><key>Page Up</key> / <key>Page Down</key></p></td>
    </tr>
    <tr>
        <td><p>Go to the previous/next page.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Page Up</key></keyseq> /
<keyseq><key>Ctrl</key><key>Page Down</key></keyseq></p></td>
    </tr>
<tr>
        <td><p>Go to page number.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>L</key></keyseq> followed by the page number and <key>Enter</key></p></td>
</tr>
    <tr>
        <td><p>Go to the beginning of a page (beginning of the document
if <guiseq><gui>View</gui> <gui>Continuous</gui></guiseq> is
selected).</p></td>
         <td><p><key>Home</key></p></td>
    </tr>
    <tr>
        <td><p>Go to the end of a page (end of the document if
<guiseq><gui>View</gui><gui>Continuous</gui></guiseq> is selected).</p></td>
        <td><p><key>End</key></p></td>
    </tr>
    <tr>
    	<td><p>Go to the beginning of the document.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Home</key></keyseq></p></td>
    </tr>
    <tr>
    	<td><p>Go to the end of the document.</p></td>
         <td><p><keyseq><key>Ctrl</key><key>End</key></keyseq></p></td>
    </tr>
    <tr>
    	<td><p>Display the side bar with a table of contents.</p></td>
         <td><p><key>F9</key></p></td>
    </tr></table>
</section>

<section id="copy">
    <title>Selecting and copying text</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Copy highlighted text.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>C</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Select all the text in a document.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
</table>
</section>

<section id="find">
    <title>Finding text</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>
        Show the toolbar that lets you search for words in the document. The
        search box is automatically highlighted when you press this, and the
        search will start as soon as you type some text.
        </p></td>
        <td><p><keyseq><key>Ctrl</key><key>F</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Go to the next search result.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>G</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Go to the previous search result.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Shift</key><key>G</key></keyseq></p></td>
    </tr>
</table>
</section>

<section id="rotate-zoom">
    <title>Rotating and zooming</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Rotate the pages 90 degrees counter-clockwise.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Left arrow</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Rotate the pages 90 degrees clockwise.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Right
arrow</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Zoom in.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>+</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Zoom out.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>-</key></keyseq></p></td>
    </tr>
</table>
</section>
</section>

</page>
