<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shortcuts" xml:lang="ru">

  <info>
    <link type="guide" xref="index#advanced"/>
    <desc>See a list of all shortcuts.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.24" version="0.2" date="2017-08-10" status="final"/>
    <credit type="author">
      <name>Фил Бул (Phil Bull)</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
       <name>Тифани Антопольски (Tiffany Antopolski)</name>
       <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
       <name>Taufan Lubis</name>
       <email>taufanlinux@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Ronaldi Santosa</name>
       <email>ronald.santosa@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Ibnu Amansyah</name>
       <email>javalander9@gmail.com</email>
    </credit>
   <credit type="editor">
       <name>Andre Klapper</name>
       <email>ak-47@gmx.net</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>


<title>Комбинации клавиш</title>

<section id="default-shortcuts"><title>Комбинации клавиш по умолчанию</title>
<section id="open-close-save-print">
  <title>Открытие, закрытие, сохранение и печать</title>
  <table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Открыть документ.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>O</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Открыть копию текущего документа.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>N</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Сохранить копию текущего документа в новом файле.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>S</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Печать текущего документа.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>P</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Закрыть текущее окно документа.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>W</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Перезагрузить документ (закрывает и повторно открывает документ).</p></td>
        <td><p><keyseq><key>Ctrl</key><key>R</key></keyseq></p></td>
    </tr>
  </table>
</section>

<section id="move-around">
    <title>Перемещение по документу</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Переместить страницу вверх или вниз</p></td>
        <td><p>Клавиши со стрелками</p></td>
    </tr>
    <tr>
        <td><p>Переместить страницу вверх или вниз сразу на несколько строк.</p></td>
        <td><p><key>Page Up</key> / <key>Page Down</key></p></td>
    </tr>
    <tr>
        <td><p>Перейти к предыдущей или следующей странице.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Page Up</key></keyseq> / <keyseq><key>Ctrl</key><key>Page Down</key></keyseq></p></td>
    </tr>
<tr>
        <td><p>Go to page number.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>L</key></keyseq> followed by the page number and <key>Enter</key></p></td>
</tr>
    <tr>
        <td><p>Go to the beginning of a page (beginning of the document
if <guiseq><gui>View</gui> <gui>Continuous</gui></guiseq> is
selected).</p></td>
         <td><p><key>Home</key></p></td>
    </tr>
    <tr>
        <td><p>Перейти к концу страницы (к концу документа, если выбрано <guiseq><gui>Вид</gui><gui>Непрерывно</gui></guiseq>).</p></td>
        <td><p><key>End</key></p></td>
    </tr>
    <tr>
    	<td><p>Перейти к началу документа.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Home</key></keyseq></p></td>
    </tr>
    <tr>
    	<td><p>Перейти к концу документа.</p></td>
         <td><p><keyseq><key>Ctrl</key><key>End</key></keyseq></p></td>
    </tr>
    <tr>
    	<td><p>Display the side bar with a table of contents.</p></td>
         <td><p><key>F9</key></p></td>
    </tr></table>
</section>

<section id="copy">
    <title>Выделение и копирование текста</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Копировать выделенный текст.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>C</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Выделить весь текст документа</p></td>
        <td><p><keyseq><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
</table>
</section>

<section id="find">
    <title>Поиск текста</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Показать панель инструментов, с помощью которой можно искать слова в документе. Поле для поиска автоматически подсвечивается при нажатии этой комбинации, поиск начинается сразу после ввода текста.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>F</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Перейти к следующему результату поиска</p></td>
        <td><p><keyseq><key>Ctrl</key><key>G</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Перейти к предыдущему результату поиска</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Shift</key><key>G</key></keyseq></p></td>
    </tr>
</table>
</section>

<section id="rotate-zoom">
    <title>Поворот и масштабирование</title>
<table frame="all" rules="cols" shade="rows">
    <tr>
        <td><p>Повернуть страницы на 90 градусов против часовой стрелки.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Left arrow</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Повернуть страницы на 90 градусов по часовой стрелке.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>Right
arrow</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Увеличить масштаб.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>+</key></keyseq></p></td>
    </tr>
    <tr>
        <td><p>Уменьшить масштаб.</p></td>
        <td><p><keyseq><key>Ctrl</key><key>-</key></keyseq></p></td>
    </tr>
</table>
</section>
</section>

</page>
