<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="duplex-10page" xml:lang="nl">

  <info>
    <link type="guide" xref="print-booklet#doubleSided"/>

    <desc>Een 10 pagina's tellend boekje afdrukken.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons GelijkDelen 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Justin van Steijn</mal:name>
      <mal:email>jvs@fsfe.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

<title>10 pagina's tellend boekje</title>
<steps>
 <item>
  <p>Klik op <guiseq><gui>Bestand</gui><gui>Afdrukken</gui></guiseq>.</p>
 </item>

 <item>
  <p>Kies het tabblad <gui>Algemeen</gui>.</p>
 <p>Kies <gui>Pagina's</gui> onder <em>Bereik</em>.</p>
  <p>Typ het aantal pagina's in deze volgorde: 10, 3, 4, 9, 8, 5, 6, 7, 2</p>

 </item>
 <item>
  <p>Kies het tabblad <gui>Pagina-instellingen</gui>.</p>
  <p>Kies bij de optie <gui>Tweezijdig</gui> onder <em>Indeling</em> <gui>Korte zijde (omgedraaid)</gui>.</p>
  <p>
   In the <gui>Pages per side</gui> option, select <gui>2</gui>.
  </p>
  <p>
   In the <gui>Page ordering</gui> menu, select <gui>Left to right</gui>.
  </p>
  <p>
   Click <gui>Print</gui>.
  </p>
 </item>



 <item>
 <p>
  Once the pages have printed, take the paper with page 2 on it, place it back in the printer, taking care to orient it correctly (page 1 will be printed on the other side).
 </p>
 </item>
 <item>
  <p>Klik op <guiseq><gui>Bestand</gui><gui>Afdrukken</gui></guiseq>.</p>
 </item>
 <item>
  <p>Kies het tabblad <gui>Algemeen</gui>.</p>
  <p>
   Under <em>Range</em> select the <gui>Pages</gui> option and type: 1
  </p>

 </item>
<item>
  <p>Kies het tabblad <gui>Pagina-instellingen</gui>.</p>
  <p>
   In the <gui>Page ordering</gui> menu, select <gui>Right to left</gui>.
  </p>
  <p>
   Click <gui>Print</gui>.
  </p>
 </item>

</steps>
<note>
   <p>
    It is easier to print a 12-page booklet.  You may wish to add 2 blank pages to your PDF document to make it 12-pages.  To do so, you can:
   </p>
<steps>
 <item>
  <p>
    Create a blank PDF document 2-pages long using <app>LibreOffice Writer</app>.
  </p>
 </item>
 <item>
  <p>
   Merge the blank PDF with your PDF document using <app>PDF-Shuffler</app>  placing the blank pages at the end.
  </p>

 </item>
 <item>
  <p>
   Follow the steps for printing a <link xref="duplex-12page">12-page booklet</link>.
  </p>
 </item>
</steps>
</note>
</page>
