<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="synctex-support" xml:lang="nl">

  <info>
    <link type="guide" xref="index#synctex" group="second"/>
    <desc>Hoe u ondersteuning voor SyncTeX toevoegt.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.28" version="0.2" date="2018-06-28" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Germán Poo-Caamaño</name>
      <email>gpoo@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons GelijkDelen 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Justin van Steijn</mal:name>
      <mal:email>jvs@fsfe.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

<title>SyncTeX opzetten</title>
<p>De volgende pakketten moeten geïnstalleerd zijn om ondersteuning voor SyncTeX toe te voegen:</p>
<list>
  <item>
    <p>
      A LaTeX engine with SyncTex support, such as <app>pdflatex</app>.
    </p>
  </item>
  <item>
    <p>
      A text editor with SynxTeX support, such as <app>gedit</app> with gedit-plugins installed.
    </p>
  </item>
</list>

<p>In <app>gedit</app> schakelt u de SyncTeX-plug-in in:</p>
<steps>
   <item>
    <p>Klik op <guiseq><gui>Bewerken</gui><gui>Voorkeuren</gui><gui>Plug-ins</gui></guiseq>-tabblad.</p>
   </item>
   <item>
    <p>Selecteer <gui>SyncTeX</gui>.</p>
   </item>
</steps>
</page>
