<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="commandline" xml:lang="ca">

  <info>
    <link type="guide" xref="index#advanced"/>
    <title type="sort">Command line</title>
    <desc>The <cmd>evince</cmd> command can open any number of files, at specific pages and in various modes.</desc>
    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.24" version="0.2" date="2017-09-17" status="final"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
    <name>Tiffany Antopolski</name>
    <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Carles Ferrando Garcia</mal:name>
      <mal:email>carles.ferrando@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Xavier Roijals</mal:name>
      <mal:email>xavier.roijals@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gil Forcada</mal:name>
      <mal:email>gilforcada@guifi.net</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

<title>The command line</title>
<p>
To start the <app>Document Viewer</app> from the command line, type <cmd>evince</cmd>. You
can open a specific file by typing the filename after the evince command:
</p>

<screen>evince file.pdf</screen>
<p>
You can open multiple files by typing the filenames after the evince command, separating the filenames by a space:
</p>
<screen>evince file1.pdf file2.pdf</screen>
<p>
The <app>document viewer</app> also supports the handling of files on the web.  For example, after the evince command you can give the location of a file on the web:
</p>
<screen>evince http://www.claymath.org/millennium/P_vs_NP/pvsnp.pdf</screen>
<section id="open">
    <title>Opening a document at a specific page</title>
    <p>
    You can use the <cmd>--page-label</cmd> switch to open a document at a
    specific page. For example, to open a document to page 3, you would type:
    </p>
    <screen>evince --page-label=3 fitxer.pdf</screen>
    <p>
    The page label should be in the same format as the page number displayed in
    the <app>Document Viewer</app> title bar.
    </p>
</section>
<section id="fullsreen">
    <title>Obertura de documents en mode a pantalla completa</title>
    <screen>evince --fullscreen fitxer.pdf</screen>
</section>
<section id="presentation">
    <title>Obertura de documents en mode de presentació</title>
    <screen>evince --presentation fitxer.pdf</screen>
</section>
<section id="preview">
    <title>Obertura de documents en mode de previsualització</title>
    <screen>evince --preview fitxer.pdf</screen>
</section>
</page>
