<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="presentations" xml:lang="ca">

  <info>
    <link type="guide" xref="index#pres"/>
    <desc>Com passar presentacions.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email>anna.cs.au@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Carles Ferrando Garcia</mal:name>
      <mal:email>carles.ferrando@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Xavier Roijals</mal:name>
      <mal:email>xavier.roijals@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gil Forcada</mal:name>
      <mal:email>gilforcada@guifi.net</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

<title>Presentacions</title>
<section id="start-presentation">
<title>Iniciació d'una presentació</title>
<p>Per iniciar una presentació:</p>
<steps>
 <item>
  <p><link xref="opening">Obriu un fitxer</link></p>
 </item>
 <item>
   <p>Click the <gui>View options</gui> button in the top-right corner and
   select <gui>Presentation</gui> (or press <key>F5</key>).</p>
  <p>
   The presentation will be displayed full screen.
  </p>
 </item>
</steps>
</section>
<section id="present">
 <title>Moure's per una presentació</title>
 <p>
  Use the <key>spacebar</key>, <key>→</key>, <key>↓</key>, or left mouse click to go to the next slide.
 </p>
 <p>
  Use the <key>←</key>, <key>↑</key> or right mouse click to go to the previous slide.
 </p>
 <note style="tip">
  <p>
   You can also use the scroll wheel to move back and forth through the presentation.
  </p>
 </note>
 <p>
  Use <key>Esc</key> to exit the presentation.
 </p>
</section>

<section id="file-formats">
<title>Supported presentation file formats</title>
<p>
The following file formats can be used for presentations:
</p>
<list>
 <item><p>Arxiu de llibre de còmic (.cbr i .cbz)</p></item>
 <item><p>Format de fitxer independent del dispositiu (.dvi)</p></item>
 <item><p>DjVu (.djvu, .djv)</p></item>
 <item><p>Open Document Presentation (.odp)</p></item>
 <item><p>Format de document portable (.pdf)</p></item>
 <item><p>PostScript (.ps)</p></item>
</list>
</section>
</page>
